In [1]:
import pandas as pd

### 참조 자료

        https://tomaugspurger.github.io/modern-5-tidy

##  예제 10-1 데이터 알아보기

In [2]:
tables = pd.read_html("http://www.basketball-reference.com/leagues/NBA_2018_games.html")

In [3]:
type(tables)

list

In [4]:
type(tables[0])

pandas.core.frame.DataFrame

In [5]:
games = tables[0]

In [6]:
games.to_csv("../data/nav_2018.csv")

In [7]:
import chardet

In [8]:
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

In [9]:
my_encoding1 = find_encoding('../data/nav_2018.csv')

In [10]:
df_1 = pd.read_csv('../data/nav_2018.csv', encoding=my_encoding1)

In [11]:
my_encoding1

'ascii'

In [12]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             104 non-null    object
 1   Start (ET)       104 non-null    object
 2   Visitor/Neutral  104 non-null    object
 3   PTS              104 non-null    int64
 4   Home/Neutral     104 non-null    object
 5   PTS.1            104 non-null    int64
 6   Unnamed: 6       104 non-null    object
 7   Unnamed: 7       2 non-null      object
 8   Attend.          104 non-null    int64
 9   Notes            0 non-null      float64
dtypes: float64(1), int64(3), object(6)
memory usage: 8.2+ KB

In [13]:
games.shape

(104, 10)

In [14]:
games.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN

In [15]:
games['Attend.'].head()

0    20562
1    19596
2    20491
3    15008
4    18846
Name: Attend., dtype: int64

In [16]:
games[['Attend.']].head()

   Attend.
0    20562
1    19596
2    20491
3    15008
4    18846

## 예제 10-2 데이터 자료형 및 이름 맞추기

In [17]:
games.columns

Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1',
       'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Notes'],
      dtype='object')

In [18]:
games.columns[6]

'Unnamed: 6'

In [19]:
games.columns[7]

'Unnamed: 7'

In [20]:
column_names = {'Date': '경기일자', 'Start (ET)': 'start',
                'Visitor/Neutral': '방문팀', 
                'PTS': '방문팀점수', 'Home/Neutral': '홈팀',
                'PTS.1': '홈팀점수', '\xa0' : 'Box', 'Attend.':'관중수','\xa0.1': 'n_ot'}

In [21]:
games.rename(columns=column_names).head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Unnamed: 6,Unnamed: 7,관중수,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN

In [22]:
games = games.rename(columns=column_names)

In [23]:
games.columns

Index(['경기일자', 'start', '방문팀', '방문팀점수', '홈팀', '홈팀점수', 'Unnamed: 6',
       'Unnamed: 7', '관중수', 'Notes'],
      dtype='object')

In [24]:
games.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Unnamed: 6,Unnamed: 7,관중수,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN

In [25]:
games['경기일자'].dtype

dtype('O')

In [26]:
a_g = games.assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y'))

In [27]:
a_g.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Unnamed: 6,Unnamed: 7,관중수,Notes
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,NaN
1,2017-10-17,10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,NaN
2,2017-10-18,7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,NaN
3,2017-10-18,7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,NaN
4,2017-10-18,7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,NaN

In [28]:
games_ = a_g.copy()

In [29]:
games_.shape

(104, 10)

In [30]:
games_.경기일자.dtype

dtype('<M8[ns]')

In [31]:
print(games_.경기일자.dtype)

datetime64[ns]

## 예제 10-3 초기값 및 결측데이터 정리하기

In [32]:
games_.isnull().sum()

경기일자            0
start           0
방문팀             0
방문팀점수           0
홈팀              0
홈팀점수            0
Unnamed: 6      0
Unnamed: 7    102
관중수             0
Notes         104
dtype: int64

In [33]:
games_[games_['n_ot'].notnull()]

KeyError: 'n_ot'

In [ ]:
games_['n_ot'].fillna('NOT',inplace=True)

In [ ]:
games_.info()

In [ ]:
games_na = games_.dropna(axis=1)

In [ ]:
games_na.head()

In [ ]:
games_na.shape

## 예제 10-4 필요 열만 추출해서 정리하기

In [ ]:
games_nae = games_na[['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]

In [ ]:
games_nae.columns

In [ ]:
games_nae.head()

In [ ]:
games_naes = games_nae.set_index('경기일자',append=True)

In [ ]:
games_naes.head()

In [ ]:
games_naesr = games_naes.rename_axis(["게임","경기일자"])

In [ ]:
games_naesr.head()

In [ ]:
games_naesr = games_naesr.sort_index()

In [ ]:
games_naesr.head()

In [ ]:
type(games_naesr.index)

In [ ]:
type(games_naesr.columns)

## 예제 10-5 데이터 작업 체인닝 처리하기

In [ ]:
games_all = (games_na.rename(columns=column_names)
    .dropna(thresh=4)
    [['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]
    .assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y'))
    .set_index('경기일자', append=True)
    .rename_axis(["게임", "경기일자"])
    .sort_index())

In [ ]:
games_all.head()

In [ ]:
games_all.index.levels[1]

## 예제 10-6 데이터 조정해서  확정하기

In [ ]:
tidy = pd.melt(games_all.reset_index(),
               id_vars=['게임', '경기일자'], value_vars=['방문팀', '홈팀'],
               var_name='팀구분',value_name='팀')

In [ ]:
tidy.head()

In [ ]:
tidy.tail()

In [ ]:
tidy.경기일자.dtype

In [ ]:
x = (tidy.groupby('팀')['경기일자'].diff().dt.days == 1 )

In [ ]:
tidy['경기일자'][x]

In [ ]:
ab = tidy.groupby('팀')['경기일자'].diff().dt.days -1

In [ ]:
ab.shape

In [ ]:
ab.isnull().sum()

In [ ]:
tidy['휴식일'] = tidy.sort_values('경기일자').groupby('팀').경기일자.diff().dt.days - 1

In [ ]:
tidy.isnull().sum()

In [ ]:
tidy = tidy.fillna(0)

In [ ]:
tidy.shape

In [ ]:
tidy.head()

In [ ]:
by_game = pd.pivot_table(tidy, values='휴식일',
                          index=['게임', '경기일자'],
                          columns='팀구분')

In [ ]:
by_game.head()

In [ ]:
by_game = by_game.rename(columns={'방문팀': '방문팀휴식일',
                              '홈팀': '홈팀휴식일'})

In [ ]:
by_game.head()

In [ ]:
by_game.shape

In [ ]:
games_all.head()

In [ ]:
df = pd.concat([games_all, by_game], axis=1)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
by_game_ = (pd.pivot_table(tidy, values='휴식일',
                          index=['게임', '경기일자'],
                          columns='팀구분')
             .rename(columns={'방문팀': '방문팀휴식일',
                              '홈팀': '홈팀휴식일'}))

In [ ]:
df_ = pd.concat([games_all, by_game_], axis=1)

In [ ]:
df_.head()

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

## 예제 10-7 파이썬 datetime 모듈 알아보기

In [ ]:
import datetime

In [ ]:
date = datetime.date(2018,9,29)

In [ ]:
date

In [ ]:
date.year, date.month, date.day

In [ ]:
time = datetime.time(12,30,19,463198)

In [ ]:
time

In [ ]:
time.hour, time.minute, time.second, time.microsecond

In [ ]:
dt = datetime.datetime(2018,9,29,12,30,19,463198)

In [ ]:
dt

In [ ]:
td = datetime.timedelta(weeks=2, days=5, 
                        hours=10, minutes=20, 
                        seconds=6.73, 
                        milliseconds=99, 
                        microseconds=8)

In [ ]:
td

In [ ]:
td.days, td.seconds, td.microseconds, td.total_seconds()

In [ ]:
date + td

In [ ]:
dt + td

In [ ]:
dt - td

In [ ]:
time

In [ ]:
datetime.time.__dict__.get('__add__',"존재하지 않음")

In [ ]:
try :
    time + td
except Exception as e :
    print(e)

In [ ]:
datetime.time.__dict__.get('__sub__',"존재하지 않음")

In [ ]:
try :
    time - td
except Exception as e :
    print(e)

## 예제 10-8 판다스의 Timestamp 처리알아보기

      유닉스 탄생 시각인 1970년 1월 1일부터 시각을 나노초로 전달
      
      
   
        Timestamp  : to_datetime, Timestamp
                Represents a single timestamp	
        DatetimeIndex	: to_datetime, date_range, bdate_range, DatetimeIndex
                 Index of Timestamp	
        Period	 :  Period
                Represents a single time span	
        PeriodIndex	: period_range, PeriodIndex
                 Index of Period

In [ ]:
pd.Timestamp(0)

In [ ]:
a = pd.Timestamp(0)

In [ ]:
s = pd.Series(a)

In [ ]:
s

In [ ]:
s[0]

In [ ]:
pd.Timestamp(17800, unit='D')

In [ ]:
pd.Timestamp(17800, unit='h')

In [ ]:
pd.Timestamp(17800, unit='m')

In [ ]:
pd.Timestamp(17800, unit='s')

In [ ]:
pd.Timestamp(17800, unit='ms')

In [ ]:
pd.Timestamp(17800, unit='us')

In [ ]:
pd.Timestamp(17800, unit='ns')

In [ ]:
pd.Timestamp(year=2017, month=1, day=1, hour=12,
            minute=30, second=10, microsecond=10)

## 예제 10-9 판다스의 to_datetime 처리알아보기

In [ ]:
pd.to_datetime('2018-09-29')

In [ ]:
pd.to_datetime('2018-29-09', dayfirst=True)

In [ ]:
pd.to_datetime('29-09-2018', dayfirst=True)

In [ ]:
pd.to_datetime(271, unit='D', origin='2018-01-01')

In [ ]:
s = pd.Series([10,100,100,1000,10000])

In [ ]:
pd.to_datetime(s,unit='D')

In [ ]:
df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})

In [ ]:
pd.to_datetime(df)

In [ ]:
s1 = pd.Series(['09-05-2018', '09/05/2018', '2018-09-01','40/23/2018'])

In [ ]:
s1

In [ ]:
try :
    pd.to_datetime(s1)
except Exception as e :
    print(e)

In [ ]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

In [ ]:
pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')

In [ ]:
s2 = pd.to_datetime(s1,dayfirst=True, errors='coerce')

In [ ]:
s2

In [ ]:
s2.isnull().sum()

### 데이터 포맷팅 처리

In [ ]:
pd.to_datetime('2010/11/12', format='%Y/%m/%d')

In [ ]:
pd.to_datetime('12-11-2010 01:30:50', format='%d-%m-%Y %H:%M:%S')

In [ ]:
s3 = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

In [ ]:
s3.head()

#### infer_datetime_format

    True 및 형식이 지정되지 않은 경우 datetime 문자열의 형식을 유추하여 유추 할 수있는 경우 빠른 구문 분석 방법으로 전환하십시오.
    경우에 따라 파싱 속도를 ~ 5-10x 높일 수 있습니다.

In [ ]:
%timeit pd.to_datetime(s3,infer_datetime_format=True)

In [ ]:
sdt = pd.to_datetime(s3,infer_datetime_format=True)

In [ ]:
sdt.head()

In [ ]:
%timeit pd.to_datetime(s3,infer_datetime_format=False)

In [ ]:
sdt2 = pd.to_datetime(s3,infer_datetime_format=False)

In [ ]:
sdt2.head()

## 예제 10-9 판다스의 Period 처리 알아보기

In [ ]:
pd.Period('2014', freq='A-MAY')

In [ ]:
pd.Period('06/11/2014')

In [ ]:
pd.Period('11/11/1918 11:00',freq='H')

In [ ]:
pd.Period('06/30/2014') + 4

In [ ]:
 pd.Period('11/11/1918 11:00',freq='H') - 48

In [ ]:
pd.Period('2014-04', freq='M') - pd.Period('2013-02', freq='M')

In [ ]:
import pandas as pd

## 예제 10-10 주가 정보 가져와서 확인하기

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

!conda install -c anaconda pandas-datareader

!pip install pandas-datareader

In [ ]:
from pandas_datareader import data

In [ ]:
import datetime

In [ ]:
start = datetime.datetime(2014, 2, 19)

In [ ]:
end = datetime.datetime(2018, 3, 4)

In [ ]:
f = data.DataReader("068270.KS", "yahoo", start, end)

In [ ]:
f.head()

In [ ]:
f.tail()

In [ ]:
f.isnull().sum()

#### seaborn 을 이용하면 실제 스타일이 바뀐다

!pip install seaborn

In [ ]:
import seaborn

seaborn.set()

In [ ]:
f.plot()

In [ ]:
f.columns

In [ ]:
f.index

In [ ]:
f.resample('BA').mean().plot()

In [ ]:
f.resample('BA').mean().head()

In [ ]:
f.loc['2014-12-30']

In [ ]:
try :
    f.loc['2014-12-31']
except Exception as e :
    print(e)

In [ ]:
f.asfreq('BA', method='ffill').head()

In [ ]:
f.asfreq('BA',method='ffill')[['Close', 'High', 'Low']].plot()

In [ ]:
f.asfreq('BA',method='ffill')[['Volume']].plot()

### 이동평균 구하기

In [ ]:
md20 = f['Close'].rolling(window=20).mean()

In [ ]:
md20.head(20)

#### 이동평균을 구하기

In [ ]:
md60 = f['Close'].rolling(window=60).mean()

In [ ]:
md120 = f['Close'].rolling(window=120).mean()

#### 기존 데이터에 넣기

In [ ]:
f.insert(len(f.columns), "MD20", md20)

In [ ]:
f.head(3)

In [ ]:
f.tail(3)

In [ ]:
f.insert(len(f.columns), "MD60", md60)

In [ ]:
f.insert(len(f.columns), "MD120", md120)

###  평균 이동선 그래프 그리기

In [ ]:
f[['MD20','MD60','MD120']].plot()

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

## 예제 10-11 주가정보로 수익률 알아보기

In [ ]:
from pandas_datareader import data

In [ ]:
import datetime

In [ ]:
start = datetime.datetime(2014, 2, 19)

In [ ]:
end = datetime.datetime(2018, 8,31)

In [ ]:
slb = data.DataReader("068270.KS", "yahoo", start, end)

In [ ]:
slb.to_csv("../data/cel_stock_2018.csv")

In [ ]:
cel = pd.read_csv('../data/cel_stock_2018.csv',index_col='Date')

In [ ]:
cel.head(3)

In [ ]:
cel.index

In [ ]:
cel.columns

In [ ]:
cel.index = pd.to_datetime(cel.index.str[:10], format='%Y-%m-%d')

In [ ]:
cel.index.dtype

In [ ]:
parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [ ]:
cel_2  = pd.read_csv('../data/cel_stock_2018.csv',index_col='Date',date_parser=parser)

In [ ]:
cel_2.index.dtype

### 주식 데이터 확인

In [ ]:
cel.info()

In [ ]:
cel.shape

### 일별 수익률 계산

In [ ]:
cel_daily = cel.Close.pct_change()

In [ ]:
cel_daily.head()

In [ ]:
(cel_daily < 0).sum()

###   종가 금액만 추출

In [ ]:
cel_close = cel['Close']

In [ ]:
cel_close.head()

### 종가 금액을 백분율에 따라 재 세팅

In [ ]:
cel_des = cel_close.describe(percentiles=[.1,.9])

In [ ]:
cel_des

## 2. plot 그래프 그리기

### 종가금액에 대한 그래프 색을 블랙으로 해서 그래프를 그린다. 

    . x 축은 일자 y 축은 금액으로 처리

In [ ]:
cel_close.plot(color='black', figsize=(12,6))
plt.show()

## 3. plot 그래프 내에 강조하기

### 특정 범위를 범어나는 그래프의 색을 다르게 표시.

     . 하나의 별도 그래프를 그려서 별도의 모양과 색을 처리한다.

In [ ]:
cel_top_bottom = cel_close[(cel_close < cel_des.loc['10%']) | (cel_close > cel_des.loc['90%'])]

In [ ]:
cel_top_bottom.plot(marker='o', style=' ', ms=4, color='darkgray')
plt.show()

## 4. plot 그래프 내에 하일라이트 선 그리기

In [ ]:
### 상위와 하위의 선을 그리기 위해 상위와 하위의 x 축 일자를 가져온다.

In [ ]:
criteria = (cel_close < cel_des.loc['10%']) | (cel_close > cel_des.loc['90%'])

In [ ]:
criteria.index

In [ ]:
criteria.head()

### 라인을 그리기 위해 y 축을 10%와 90% 의 위치를 지정하고 x 축이 시작점과 종료점을 세팅

In [ ]:
plt.hlines(y=[cel_des.loc['10%'], 
              cel_des.loc['90%']], 
           xmin=criteria.index[0], 
           xmax=criteria.index[-1], 
           color='red')

## 5. 하나의 그래프로 통합하기

### 3개의 그래프를  하나로 표시하기

In [ ]:
cel_close.plot(color='black', figsize=(12,6))
cel_top_bottom.plot(marker='o', style=' ', ms=4, color='darkgray')
plt.hlines(y=[cel_des.loc['10%'], 
              cel_des.loc['90%']], 
           xmin=criteria.index[0], 
           xmax=criteria.index[-1], color='red')

plt.show()

## 6  수익율 비교하기

#### 수익율을 비교하기

      . pct_change 메소드는 현재 원소와 직전원소간의 % 변화를 계산

In [ ]:
cel.Close.head()

####  첫번째와 두번째 값에 대한 비율에 대한 차이를 계산

In [ ]:
round((cel.Close[1] - cel.Close[0])/cel.Close[0],6)

In [ ]:
cel.Close.pct_change().head()

####  점 연산자로 칼럼을 접근해서 메소드를 처리

In [ ]:
cel_pct_change = cel.Close.pct_change()

In [ ]:
cel_pct_change.isnull().sum()

In [ ]:
cel_pct_change = cel_pct_change.dropna()

In [ ]:
cel_pct_change.head()

#### 수익률에 대한 히스토그램

In [ ]:
cel_pct_change.hist(bins=30)

In [ ]:
cel_pct_change.describe()

#### 평균으로부터 얼마 정도의 표준편차 만큼 떨어져 있는 지 구하기

      . z-score = | x - 평균값 | / 표준편차

In [ ]:
cel_pct_change.sub(cel_pct_change.mean()).abs().div(cel_pct_change.std()).head()

## 예제 10-12 통계량 알아보기

### 첨도(Kurtosis)

        첨도는 분포의 꼬리부분의 길이와 중앙부분의 뾰족함에 대한 정보를 제공하는 통계량이다.
        아주 well-defined된 통계량이 아니기 때문에 여전히 해석에 논란의 여지가 있다.

        정규분포의 첨도는 0이다(기본적인 정의에 의하면 3이지만, 일반적으로 정규분포의 첨도를 0으로 만들기 위해 3을 빼서 정의하는 경우가 많다. 
        정규분포가 0이 되게 정의하는 첨도를 excess kurtosis라고 한다). 정규분포 처럼 첨도가 0인 경우를 Mesokurtic라고 한다.

        첨도가 0보다 크면 정규분포보다 긴 꼬리를 갖고, 분포가 보다 중앙부분에 덜 집중되게 되므로 중앙부분이 뾰족한 모양을 가지게 된다. 
        T분포는 정규분포보다 더 긴 꼬리를 가지므로 첨도가 0보다 크다. 첨도가 0보다 큰 경우를 Leptokurtic이라고 한다.

In [ ]:
cel_daily.kurt()

In [ ]:
cel_daily.plot.hist(bins=20)

### 왜도(Skewness)

        왜도는 분포의 비대칭도를 나타내는 통계량이다. 정규분포, T분포와 같이 대칭인 분포의 경우 왜도가 0이다. 
        카이제곱분포와 같이 오른쪽으로 긴 꼬리를 가진 경우(skewed to the right) 왜도는 양수이다. 
        
        왼쪽으로 긴 꼬리를 가지면(skewed to the left) 왜도는 음수이다. 
        한 쪽 꼬리 부분에 보다 많은 확률값이 분포할 수록, 다시 말해 비대칭도가 커질수록 왜도의 절대값은 증가한다.

In [ ]:
cel_daily.skew()

In [ ]:
cel_daily.plot.hist(bins=20)

### z-score 계산 


       표준 점수(Standard score)는 통계학적으로 정규분포를 만들고 개개의 경우가 표준편차상에 어떤 위치를 차지하는지를 보여주는 차원없는 수치이다. 
       표준값, Z값(Z-value), Z 점수(Z score)이라고도 한다.
       
       표준값 z는 원수치인 x가 평균에서 얼마나 떨어져 있는지를 나타낸다. 음수이면 평균이하, 양수이면 평균이상이다.
       
       |x- 평균 |/ 표준편차

In [ ]:
mean = cel_daily.mean()

In [ ]:
std = cel_daily.std()

### z-score = |x- 평균 |/ 표준편차

In [ ]:
zscore = cel_daily.sub(mean).abs().div(std)

### 표준편차 

      1 표준편차 68%의 데이터는 평균으로 분포
      2 표준편차 95%
      3 표준편차 99.7 %

In [ ]:
pcts = [zscore.lt(i).mean() for i in range(1,4)]

In [ ]:
pcts

In [ ]:
import pandas as pd

## 예제 10-13 맛집 데이터를 정돈하기

In [ ]:
matzip = pd.read_csv('../data/matzipData.csv', encoding='utf-8')

In [ ]:
matzip.shape

In [ ]:
matzip.dtypes

In [ ]:
matzip.head()

In [ ]:
matzip.Holiday.isnull().sum()

In [ ]:
matzip[matzip.Holiday.isnull()][['Holiday']].head()

In [ ]:
matzip.Holiday.value_counts().head()

In [ ]:
matzip.Holiday = matzip.Holiday.fillna("연중무휴")

In [ ]:
matzip.Holiday.isnull().sum()

In [ ]:
matzip.Price.value_counts()

In [ ]:
matzip.Price.isnull().sum()

In [ ]:
matzip_Price = matzip.Price.fillna('10000').copy()

In [ ]:
matzip_Price.isnull().sum()

In [ ]:
matzip_Price = (matzip_Price.str.replace("만원","10000") 
     .str.replace('210000',"20000")     
     .str.replace('310000',"30000")     
     .str.replace('410000',"40000")  
     .str.replace('미만',"")  
     .str.replace('이상',"") 
     .str.replace('10000-',"")     
     .str.replace('20000-',"")     
     .str.replace('30000-',"")
     .str.strip()
     )

In [ ]:
matzip_Price.sort_values().head()

In [ ]:
matzip_Price = matzip_Price.astype("float")

In [ ]:
matzip_Price.value_counts()

In [ ]:
matzip_Price = matzip_Price.astype("int64")

In [ ]:
matzip_Price.value_counts()

In [ ]:
matzip.Price = matzip_Price

In [ ]:
matzip.Rating = matzip.Rating.str.replace('-','0.0')

In [ ]:
matzip.Rating.value_counts().head()

In [ ]:
matzip.Rating = matzip.Rating.astype('float')

In [ ]:
matzip.Rating.dtype

In [ ]:
matzip.Parking.isnull().sum()

In [ ]:
matzip.Parking.value_counts().head()

In [ ]:
matzip.Parking = matzip.Parking.fillna("주차공간없음")

In [ ]:
matzip.Parking.isnull().sum()

## 예제 10-14 맛집 데이터로 분석 가능여부 확인

In [ ]:
%matplotlib inline

In [ ]:
matzip['Price'].plot.hist()

In [ ]:
try :
    matzip['Parking'].plot.hist()
except Exception as e :
    print(e)

#### 비율로 표시하기

In [ ]:
matzip.loc[matzip['Price'] <= 10000]['Rating'].plot.hist(normed=True)

In [ ]:
matzip.loc[matzip['Price'] >= 20000]['Rating'].plot.hist(normed=True)

In [ ]:
matzip.plot.scatter('Rating', 'Price')

In [ ]:
matzip_star = matzip[(matzip.Rating >=  3) & (matzip.Price <= 20000)]

In [ ]:
matzip_star.plot.scatter('Rating', 'Price')

In [ ]:
matzip_food = matzip.set_index('Food')[['Rating','Price']]

In [ ]:
matzip_food.index.value_counts().head()

In [ ]:
matzip_food.loc[['라멘 / 소바 / 우동','정통 일식 / 일반 일식',
                '회 / 스시','돈부리 / 일본 카레 / 벤토',
                '이자카야 / 오뎅 / 꼬치']]['Price'].plot.hist()

In [ ]:
matzip_food.loc[['라멘 / 소바 / 우동','정통 일식 / 일반 일식',
                '회 / 스시','돈부리 / 일본 카레 / 벤토',
                '이자카야 / 오뎅 / 꼬치']]['Rating'].plot.hist()

In [ ]:
matzip_food.loc[['라멘 / 소바 / 우동','정통 일식 / 일반 일식',
                '회 / 스시','돈부리 / 일본 카레 / 벤토',
                '이자카야 / 오뎅 / 꼬치']].plot.scatter('Rating', 'Price')

In [ ]:
import pandas as pd

## 예제 10-15 최신 인기 음악 데이터

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
music = pd.read_csv('../data/musicData.csv', encoding='utf-8')

In [ ]:
music.shape

In [ ]:
music.dtypes

In [ ]:
music.head()

In [ ]:
music['Date'] = music['Date'].astype('datetime64')

In [ ]:
music.Date.dtype

In [ ]:
music.Distribution.value_counts().head()

In [ ]:
music_star = (music.groupby('Distribution')
                 .agg({'Rating' : 'sum', 
                      'Distribution' : 'count'})
              .sort_values(by='Rating',ascending=False))

In [ ]:
%matplotlib inline

In [ ]:
music_star['Distribution'].plot()

In [ ]:
music_star['Rating'].plot()

In [ ]:
music_star.plot()

In [ ]:
music_star.plot.scatter('Rating', 'Distribution')

## 예제 10-16  연도별 음악 데이터

In [ ]:
music2 = pd.read_csv('../data/musicData2.csv', encoding='utf-8')

In [ ]:
music2.head()

In [ ]:
music2.info()

In [ ]:
music2.select_dtypes(include=['number']).head()

In [ ]:
music2.Genre.value_counts().head()

In [ ]:
pd.set_option('chained',None)

In [ ]:
music2[music2['Genre'].isnull()]

In [ ]:
music2.loc[1104, 'Genre'] = '팝'

In [ ]:
music2.isnull().sum()

In [ ]:
music2.loc[1104]

In [ ]:
music2["YearMonth"] = music2.Year.astype('str') + "/" + music2.Month.astype('str')

In [ ]:
music2["YearMonth"].head()

In [ ]:
music2["YearMonth"].tail()

In [ ]:
music2["YearMonth"].isnull().sum()

In [ ]:
pd.to_datetime(music2["YearMonth"], format='%Y/%m').head()

In [ ]:
music3 = music2.copy()

In [ ]:
music3["YearMonth"] = pd.to_datetime(music2["YearMonth"], format='%Y/%m')

In [ ]:
music3["YearMonth"].dtype

In [ ]:
music3.head()

In [ ]:
music_2017 = music3[music3['Year'] == 2017 ].copy()

In [ ]:
music_2018 = music3[music3['Year'] == 2018 ].copy()

In [ ]:
music_2017 = music_2017.drop(['Year','Month'],axis=1).set_index("YearMonth")

In [ ]:
music_2017.head()

In [ ]:
music_2018 = music_2018.drop(['Year','Month'],axis=1).set_index("YearMonth")

In [ ]:
music_2018.head()

In [ ]:
music_2017['Rating'].hist()

In [ ]:
music_2018['Rating'].hist()

In [ ]:
import sys

if sys.platform == 'win32' :
    from matplotlib import font_manager, rc
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [ ]:
music_2017['Music Count'].value_counts().head()

In [ ]:
music_2017.groupby('Music Count').agg({'Rating':'mean'}).head()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2, sharex=True, sharey=True)

music_2017[['Music Count','Rating']].hist(ax=axes)


# set title and axis labels
plt.suptitle(' 두 개의 그래프', x=0.5, y=1.05, ha='center', fontsize='xx-large')
fig.text(0.5, 0.04, 'common X', ha='center')
fig.text(0.04, 0.5, 'common Y', va='center', rotation='vertical')

In [ ]:
music_2018['Music Count'].value_counts().head()

In [ ]:
music_2018.groupby('Music Count').agg({'Rating':'mean'}).head()

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2, sharex=True, sharey=True)


music_2018[['Music Count','Rating']].hist(ax=axes)

# set title and axis labels
plt.suptitle(' 두 개의 그래프', x=0.5, y=1.05, ha='center', fontsize='xx-large')
fig.text(0.5, 0.04, 'common X', ha='center')
fig.text(0.04, 0.5, 'common Y', va='center', rotation='vertical')

In [ ]:
music_2017 = music_2017.reset_index()

In [ ]:
x = music_2017.groupby(['YearMonth','Date']).agg({'Rating' : 'mean'}).sort_values(by='YearMonth')

In [ ]:
x.head()

In [ ]:
x.hist()

In [ ]:
y = music_2017.groupby(['Genre']).agg({'Rating' : ['count','mean']}).sort_values(by=('Rating','mean'))

In [ ]:
y.sort_values(by=('Rating','mean')).head()

In [ ]:
y[y[('Rating','count')] >= 200]

In [ ]:
y.plot.scatter(('Rating','count'), ('Rating','mean'))

In [ ]:
z = music_2018.groupby(['Genre']).agg({'Rating' : ['count','mean']}).sort_values(by=('Rating','mean'))

In [ ]:
z.head()

In [ ]:
z[z[('Rating','count')] >= 200]

In [ ]:
z.plot.scatter(('Rating','count'), ('Rating','mean'))

In [ ]:
import sys

In [ ]:
if sys.platform == 'win32' :
    from matplotlib import font_manager, rc
    import matplotlib.pyplot as plt
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
    plt.rcParams['axes.unicode_minus'] = False

In [ ]:
plt.hist(y[('Rating','mean')])
plt.title(" 대중음악")
plt.show()

In [ ]:
y.boxplot(column=[('Rating','count'), ('Rating','mean')])

In [ ]:
import pandas as pd

## 예제 10-17  국가 코드 매핑하기

In [ ]:
pd.set_option('chained',None)

In [ ]:
asia = pd.read_csv('../data/dataset_raw_data.csv',encoding="cp949")

In [ ]:
asia.shape

In [ ]:
asia.columns

In [ ]:
asia.head()

In [ ]:
country_code = pd.read_csv('../data/country_code.csv',encoding="cp949")

In [ ]:
country_code.columns

In [ ]:
country_code.head()

In [ ]:
airport_code = pd.read_csv('../data/airport_code.csv',encoding="cp949")

In [ ]:
airport_code.head()

In [ ]:
for a, row_a in airport_code.iterrows() :
    c = row_a['국  가']
    
    for j, row_c in country_code.iterrows() :
        if row_c['나라 이름'] == c :
            airport_code.loc[a,'영문 이름'] = row_c['alpha-3']

In [ ]:
airport_code = airport_code.dropna()

In [ ]:
airport_code[airport_code['영문 이름'] == '']

In [ ]:
airport_code.head()

In [ ]:
asia = asia.dropna(axis=1)

In [ ]:
asia.head()

In [ ]:
asia_ = asia[['출발 국가','도착 국가']].copy()

In [ ]:
asia_.shape

In [ ]:
asia_.head()

In [ ]:
asia_depart = asia_.merge(country_code, 
                          left_on="출발 국가", 
                          right_on="alpha-3",
                          sort=False,how='left')

In [ ]:
asia_depart.isnull().sum()

In [ ]:
asia_depart.columns

In [ ]:
asia_depart = asia_depart.rename(columns={'나라 이름': "출발국가이름"})

In [ ]:
asia_depart.head()

In [ ]:
asia_depart = asia_depart.drop(['숫자','alpha-3','alpha-2'], axis=1)

In [ ]:
asia_depart.head()

In [ ]:
asia_arrival = asia_depart.merge(country_code,
                                 left_on="도착 국가", 
                                 right_on="alpha-3",
                                 sort=False,
                                 how='left')

In [ ]:
asia_arrival.shape

In [ ]:
asia_arrival.isnull().sum()

In [ ]:
asia_arrival = asia_arrival.rename(columns={'나라 이름': "도착국가이름"})

In [ ]:
asia_arrival.head()

In [ ]:
asia_arrival = asia_arrival.drop(['숫자','alpha-3','alpha-2'], axis=1)

In [ ]:
asia_arrival.head()

In [ ]:
try :
    aisa = asia.merge(asia_arrival, on="출발 국가")
except MemoryError as e :
    print('MemoryError', e)

In [ ]:
asia = pd.concat([asia, asia_arrival[['출발국가이름','도착국가이름']]], axis=1)

In [ ]:
asia.get_dtype_counts()

In [ ]:
asia.head()

In [ ]:
asia.tail()

## 예제 10-18 특별 조건별 데이터 분할하기

In [ ]:
asia_dep_port = asia.groupby(["항공사","출발 공항","출발 국가","출발국가이름","도착 공항","도착 국가","년도","월"])

In [ ]:
asia_dep_port

In [ ]:
a = asia_dep_port.agg({'월':'count',
                       '년도':'count',
                       '출발 국가':'count', 
                       '도착 국가':'count',
                       '정원(전체)':'sum'})

In [ ]:
a.head(20)

In [ ]:
a.columns

In [ ]:
a.columns = ['운항회수', '년도', '출발 국가', '도착 국가', '정원(전체)']

In [ ]:
a.head()

In [ ]:
a.drop(columns="년도",axis=1,inplace=True)

In [ ]:
a.head()

In [ ]:
a.to_csv("example_lee.csv",encoding='euc-kr')

In [ ]:
asia_출발국가  = asia.groupby(["출발 국가", 
                           "항공사",
                           "출발 공항",
                           "도착 공항",
                           "도착 국가",
                           "도착국가이름",
                           "년도",
                           "월"])

In [ ]:
aa = asia_출발국가.agg({'월':'count',
                    '년도':'count',
                    '출발 국가':'count',
                    '도착 국가':'count',
                    '정원(전체)':'sum'})

In [ ]:
aa.columns = ['운항회수', '년도', '출발 국가', '도착 국가', '정원(전체)']

In [ ]:
aa.head()

In [ ]:
aa.drop(columns="년도",axis=1,inplace=True)

In [ ]:
aa.head(20)

In [ ]:
aa.to_csv("example_lee_dep_con.csv",encoding='euc-kr')

In [ ]:
asia_도착국가  = asia.groupby(["도착 국가",
                           "출발 국가", 
                           "항공사",
                           "출발 공항",
                           "도착 공항",
                           "년도",
                           "월"])

In [ ]:
aaa = asia_도착국가.agg({'월':'count',
                     '년도':'count',
                     '출발 국가':'count',
                     '도착 국가':'count',
                     '정원(전체)':'sum'})

In [ ]:
aaa.columns = ['운항회수', '년도', '출발 국가', '도착 국가', '정원(전체)']

In [ ]:
aaa.drop(columns="년도",axis=1,inplace=True)

In [ ]:
aaa.head()

In [ ]:
aaa.to_csv("example_lee_ari_con.csv",encoding='euc-kr')