In [ ]:
import pandas as pd

## 데이터분석과제_22.11.30

In [184]:
music = pd.read_csv("data/musicData2.csv")

In [185]:
music.shape

(2178, 9)

In [186]:
music.count()

Year            2178
Month           2178
Album Title     2178
Artist Name     2178
Genre           2177
Date            2178
Distribution    2178
Rating          2178
Music Count     2178
dtype: int64

In [187]:
music.dtypes

Year              int64
Month             int64
Album Title      object
Artist Name      object
Genre            object
Date             object
Distribution     object
Rating          float64
Music Count       int64
dtype: object

In [188]:
music.isnull().sum()

Year            0
Month           0
Album Title     0
Artist Name     0
Genre           1
Date            0
Distribution    0
Rating          0
Music Count     0
dtype: int64

## data 추출  : 2017~18년  음악데이터 생성

In [102]:
music_2017=music[music['Year']==2017]

In [103]:
music_2017

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
0,2017,1,Boys and Girls Music Vol. 1,샘김,알앤비/어반,2017.01.25,로엔 엔터테인먼트,8.6,2
1,2017,1,여자친구 The 1st Album 'LOL',여자친구(GFRIEND),댄스,2016.07.11,로엔엔터테인먼트,8.1,12
2,2017,1,Collage (EP),The Chainsmokers,일렉트로니카,2016.11.05,소니뮤직,7.5,5
3,2017,1,If You,에일리,발라드,2016.08.23,로엔 엔터테인먼트,6.9,1
4,2017,1,세 단어,젝스키스,발라드,2016.10.07,YG PLUS,9.0,1
...,...,...,...,...,...,...,...,...,...
1181,2017,12,"W, HERE",뉴이스트 W,"댄스, 발라드",2017.10.10,(주)지니뮤직,8.4,6
1182,2017,12,Perfect Velvet - The 2nd Album,Red Velvet (레드벨벳),댄스,2017.11.17,(주)아이리버,8.0,9
1183,2017,12,1-1=0 (NOTHING WITHOUT YOU),Wanna One(워너원),"발라드, 댄스",2017.11.13,(주)지니뮤직,8.7,11
1184,2017,12,기억의 빈자리,나얼,"발라드, 알앤비/어반",2017.11.29,(주)지니뮤직,9.0,3
1185,2017,12,Moonlight,멜로망스(Melomance),발라드,2017.07.10,로엔 엔터테인먼트,6.7,5

In [104]:
music_2018=music[music['Year']==2018]

In [105]:
music_2018

,Year,Month,Album Title,Artist Name,Genre,Date,Distribution,Rating,Music Count
1186,2018,1,Red Pill Blues (Deluxe Edition),Maroon 5,"팝, 얼터너티브 락",2017.11.03,유니버설뮤직,6.9,21
1187,2018,1,Be Ordinary,황치열,발라드,2017.06.13,(주)엔에이치엔벅스,8.5,7
1188,2018,1,"Universe - 겨울 스페셜 앨범, 2017",EXO,발라드,2017.12.26,(주)아이리버,8.6,8
1189,2018,1,5집 ANOTHER LIGHT,젝스키스,발라드,2017.09.21,(주)지니뮤직,8.5,9
1190,2018,1,세 단어,젝스키스,발라드,2016.10.07,YG PLUS,9.0,1
...,...,...,...,...,...,...,...,...,...
2173,2018,10,RECIPE,벤,발라드,2018.05.08,(주)지니뮤직,7.1,10
2174,2018,10,Eyes On You,GOT7 (갓세븐),"댄스, 알앤비/어반",2018.03.12,(주)아이리버,8.6,7
2175,2018,10,Take,숀(SHAUN),"일렉트로니카, 인디뮤직",2018.06.27,워너뮤직코리아,3.7,4
2176,2018,10,우리 그만하자,로이킴,발라드,2018.09.18,(주)지니뮤직,7.0,2
2177,2018,10,하루도 그대를 사랑하지 않은 적이 없었다,임창정,"발라드, 댄스",2018.09.19,(주)인터파크,8.5,14

# 음악방송 1~5위를 한 곡들의 장르를 파악하라

In [162]:
musicRackbest=music[music['Music Count'] <= 5]

In [163]:
musicRackbest.Genre.value_counts()

발라드                         204
댄스                          183
드라마음악                       141
알앤비/어반                       81
랩/힙합                         77
포크                           22
발라드,  댄스                     19
발라드,  알앤비/어반                 15
댄스,  발라드                     13
일렉트로니카,  댄스,  알앤비/어반         13
댄스,  알앤비/어반,  일렉트로니카         13
일렉트로니카                        8
댄스,  알앤비/어반                   7
인디뮤직,  포크                     7
알앤비/어반,  발라드,  댄스             6
드라마음악,  드라마음악                 5
발라드,  재즈                      4
일렉트로니카,  인디뮤직                 4
댄스,  일렉트로니카                   4
팝                             4
인디뮤직,  랩/힙합                   4
락                             4
TV                            2
클럽/댄스                         2
팝,  캐롤                        1
댄스,  발라드,  랩/힙합,  알앤비/어반      1
인디뮤직                          1
Name: Genre, dtype: int64

# 8.5점 이상의 평점을 받은 음악을 파악하라

In [164]:
musicRatebest=music[music['Rating'] >= 8.5]

In [166]:
musicRatebest.Genre.value_counts()

발라드                           222
댄스                            167
랩/힙합                          145
알앤비/어반                         80
팝                              80
드라마음악                          60
발라드,  댄스                       52
포크                             46
댄스,  알앤비/어반                    27
락                              21
발라드,  락,  포크                   18
댄스,  알앤비/어반,  일렉트로니카           13
일렉트로니카,  댄스,  알앤비/어반           13
발라드,  알앤비/어반,  포크              12
댄스,  발라드                       11
알앤비/어반,  발라드,  댄스               6
발라드,  알앤비/어반                    6
댄스,  일렉트로니카                     4
클럽/댄스                           2
TV                              2
일렉트로니카,  댄스,  알앤비/어반,  발라드      2
뮤지컬                             1
발라드,  락                         1
댄스,  발라드,  랩/힙합,  알앤비/어반        1
영화음악                            1
얼터너티브 락                         1
Name: Genre, dtype: int64

# 뮤직데이터를 장르와 년도로 멀티인덱싱하고  랭킹별, 점수별 평균과 최솟값, 최대값을 구하시오

In [174]:
group_cols = ['Genre','Year']

In [175]:
agg_cols=['Rating','Music Count']

In [182]:
agg_music = music.groupby(group_cols)[agg_cols].agg(['mean','max','min'])

In [183]:
agg_music

                                     Rating           Music Count
                                       mean  max  min        mean max min
Genre                        Year
TV                           2017  9.800000  9.8  9.8    2.000000   2   2
댄스                           2017  8.270130  9.9  6.0    8.243506  24   1
                             2018  7.697917  9.5  4.5    6.591667  24   1
댄스,  발라드                     2017  8.400000  8.4  8.4    6.000000   6   6
                             2018  8.323684  8.5  7.2    5.921053   9   4
댄스,  발라드,  랩/힙합,  알앤비/어반     2018  8.600000  8.6  8.6    4.000000   4   4
댄스,  발라드,  알앤비/어반,  랩/힙합,  락 2018  8.300000  8.3  8.3   16.000000  16  16
댄스,  알앤비/어반                  2017  7.950000  8.2  7.7    5.500000   6   5
                             2018  8.553571  9.0  6.9    6.642857   7   2
댄스,  알앤비/어반,  일렉트로니카         2018  8.900000  8.9  8.9    5.000000   5   5
댄스,  일렉트로니카                  2017  8.900000  8.9  8.9    2.000000   2   2
드라마음악                        2017  7.996939  9.0  3.0    2.010204   3   1
                             2018  8.158140  9.3  6.6    1.813953   3   1
드라마음악,  드라마음악                2018  8.400000  8.4  8.4    2.000000   2   2
락                            2017  8.873684  9.4  8.5    9.631579  12   2
                             2018  9.300000  9.3  9.3   11.000000  11  11
랩/힙합                         2017  8.037584  9.0  4.2    8.080537  18   1
                             2018  8.327815  9.0  6.1   11.019868  26   1
뮤지컬                          2018  9.700000  9.7  9.7   11.000000  11  11
발라드                          2017  8.426840  9.9  6.4    6.800866  17   1
                             2018  7.757865  9.7  1.5    4.904494  13   1
발라드,  댄스                     2017  8.520000  9.7  7.6    7.711111  11   2
                             2018  8.638636  9.7  8.1    7.318182  16   2
발라드,  댄스,  알앤비/어반            2018  7.800000  7.8  7.8    8.000000   8   8
발라드,  댄스,  알앤비/어반,  일렉트로니카   2017  7.000000  7.0  7.0   12.000000  12  12
발라드,  락                      2018  9.000000  9.0  9.0   10.000000  10  10
발라드,  락,  포크                 2017  9.200000  9.2  9.2    8.000000   8   8
발라드,  알앤비/어반                 2017  7.951282  9.0  5.9    7.974359  10   2
                             2018  8.775000  9.0  8.4    5.625000  10   3
발라드,  알앤비/어반,  포크            2018  8.800000  8.8  8.8    8.000000   8   8
발라드,  재즈                     2017  7.300000  7.3  7.3    1.000000   1   1
                             2018  7.300000  7.3  7.3    1.000000   1   1
알앤비/어반                       2017  8.248421  9.4  6.7    6.242105  19   1
                             2018  8.445455  9.5  6.8    5.181818  11   1
알앤비/어반,  발라드,  댄스            2018  8.700000  8.7  8.7    5.000000   5   5
얼터너티브 락                      2017  9.200000  9.2  9.2   10.000000  10  10
영화음악                         2017  9.300000  9.3  9.3   16.000000  16  16
유럽 음악                        2018  8.100000  8.1  8.1   11.000000  11  11
인디뮤직                         2017  7.900000  7.9  7.9    1.000000   1   1
인디뮤직,  랩/힙합                  2017  7.700000  7.7  7.7    1.000000   1   1
인디뮤직,  포크                    2017  4.000000  4.0  4.0    5.000000   5   5
                             2018  4.450000  6.7  4.0    4.500000   5   2
일렉트로니카                       2017  7.600000  8.4  7.5    7.111111  24   5
일렉트로니카,  댄스,  알앤비/어반         2018  8.800000  8.8  8.8    5.000000   5   5
일렉트로니카,  댄스,  알앤비/어반,  발라드   2018  9.200000  9.2  9.2   16.000000  16  16
일렉트로니카,  인디뮤직                2018  3.700000  3.7  3.7    4.000000   4   4
클럽/댄스                        2017  9.300000  9.3  9.3    4.000000   4   4
팝                            2017  8.970000  9.4  8.4   13.200000  18   1
                             2018  8.996078  9.8  8.4   13.450980  18   1
팝,  얼터너티브 락                  2017  6.900000  6.9  6.9   21.000000  21  21
                             2018  6.900000  6.9  6.9   21.000000  21  21
팝,  캐롤                       2017  7.500000  7.5  7.5    1.000000   1   1
포크                           2017  8.463514  8.8  7.4    7.054054  11   1
                             2018  8.131818  8.5  7.3    5.454545   7   1
포크,  인디뮤직                    2017  8.088889  8.1  8.0    6.333333   9   6

# 피봇을 이용해 인덱스를 아티스트 이름으로, 컬럼을 년도로, 값은 평점의 평균으로 재구조화 하시오

In [189]:
music_pivoted=music.pivot_table(index='Artist Name', columns='Year', values='Rating', aggfunc='mean' )
music_pivoted

Year           2017      2018
Artist Name
(여자)아이들         NaN  8.114286
10cm           7.98  6.700000
AOA            6.70  9.000000
Ariana Grande  7.50       NaN
B1A4           8.80       NaN
...             ...       ...
헨리 (HENRY)     8.90       NaN
혁오(HYUKOH)     8.50       NaN
현아             7.70       NaN
황치열            8.50  8.300000
효린             8.00  7.600000

[176 rows x 2 columns]

# 널값이 있는 행을 삭제하고 2017년과 2018년에 모두 노래를 낸 가수의 수를 구하시오

In [195]:
both_music=music_pivoted.dropna()

In [196]:
both_music

Year                  2017      2018
Artist Name
10cm              7.980000  6.700000
AOA               6.700000  9.000000
BIGBANG           8.600000  8.100000
BLACKPINK         7.511765  7.400000
Camila Cabello    9.300000  9.300000
...                    ...       ...
하이라이트(Highlight)  9.335714  9.350000
하이포(HIGH4)        8.200000  8.200000
헤이즈(Heize)        7.237037  7.594118
황치열               8.500000  8.300000
효린                8.000000  7.600000

[72 rows x 2 columns]

In [219]:
len(both_music)

72

# 앞서 구한 테이블에 2017년의 성적과 2018년의 성적의 평균을 구하는 열을 구하시오

In [207]:
both_music['평균'] = both_music.eval(both_music[2017] + both_music[2018])/2

C:\Users\TJ\AppData\Local\Temp\ipykernel_1564\87229037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  both_music['평균'] = both_music.eval(both_music[2017] + both_music[2018])/2

In [208]:
both_music

Year                  2017      2018        평균
Artist Name
10cm              7.980000  6.700000      7.34
AOA               6.700000  9.000000      7.85
BIGBANG           8.600000  8.100000      8.35
BLACKPINK         7.511765  7.400000  7.455882
Camila Cabello    9.300000  9.300000       9.3
...                    ...       ...       ...
하이라이트(Highlight)  9.335714  9.350000  9.342857
하이포(HIGH4)        8.200000  8.200000       8.2
헤이즈(Heize)        7.237037  7.594118  7.415577
황치열               8.500000  8.300000       8.4
효린                8.000000  7.600000       7.8

[72 rows x 3 columns]

In [212]:
both_music.sort_values(by="평균")

Year                 2017      2018        평균
Artist Name
문문(MoonMoon)     4.000000  4.000000       4.0
민서               6.400000  6.400000       6.4
선미               7.400000  5.830000     6.615
Maroon 5         6.900000  6.900000       6.9
멜로망스(Melomance)  6.700000  7.338095  7.019048
...                   ...       ...       ...
Charlie Puth     9.371429  9.400000  9.385714
종현 (JONGHYUN)    9.400000  9.371429  9.385714
Shawn Mendes     9.400000  9.400000       9.4
신화               9.500000  9.500000       9.5
Sia              9.200000  9.800000       9.5

[72 rows x 3 columns]

In [220]:
both_music.to_csv("example_both_music.csv",encoding='cp949')