In [10]:
# 실시간 고속도로 정체상황
# http://data.ex.co.kr/openapi/basicinfo/openApiInfoM?apiId=0406&serviceType=OPENAPI&keyWord=%EC%8B%A4%EC%8B%9C%EA%B0%84&searchDayFrom=2014.12.01&searchDayTo=2022.12.16&CATEGORY=&GROUP_TR=
import pandas as pd
import urllib.request
import datetime
import json
import time

url ="http://data.ex.co.kr/openapi/odtraffic/trafficAmountByCongest?key=test&type=json"

def get_request_url(url):                 
    req = urllib.request.Request(url)     

    try:
        response = urllib.request.urlopen(req)
        if response.getcode() == 200:
            print("[%s] Url Request Success" % datetime.datetime.now())
            return response.read().decode('utf-8')
    except Exception as e:
        print(e)
        print("[%s] Error for URL : %s" % (datetime.datetime.now(), url))
        return None
response_data = get_request_url(url)
if (response_data == None):
    print('No response')
else:
    raw_json_data = json.loads(response_data)

[2022-12-16 17:53:32.710689] Url Request Success

In [11]:
def get_df_info(json_data, records_root_name):
    column_list=[]
    all_data=[]
    is_first=True
    for record in json_data[records_root_name]:
        row_data_list=[]
        for key, value in record.items():
            if is_first:
                column_list.append(key)
            row_data_list.append(value)
        all_data.append(row_data_list)
        is_first=False
        
    return column_list, all_data

In [12]:
column_list, all_data = get_df_info(raw_json_data,'list')

In [13]:
column_list

['routeName',
 'routeNo',
 'trafficAmout',
 'conzoneId',
 'conzoneName',
 'stdDate',
 'stdHour',
 'vdsId',
 'speed',
 'shareRatio',
 'timeAvg',
 'grade',
 'updownTypeCode']

In [14]:
all_data[0]

['경부선',
 '0010',
 '69',
 '0010CZE460',
 '신갈JC-서울TG',
 '20221216',
 '1751',
 '0010VDE30600',
 '39',
 '10',
 '57',
 '3',
 'E']

In [15]:
df = pd.DataFrame(all_data, columns=column_list)
df.head()

,routeName,routeNo,trafficAmout,conzoneId,conzoneName,stdDate,stdHour,vdsId,speed,shareRatio,timeAvg,grade,updownTypeCode
0,경부선,0010,69,0010CZE460,신갈JC-서울TG,20221216,1751,0010VDE30600,39,10,57,3,E
1,경부선,0010,85,0010CZE460,신갈JC-서울TG,20221216,1751,0010VDE30632,35,10,100,3,E
2,경부선,0010,30,0010CZS300,신탄진IC-회덕JC,20221216,1751,0010VDS21500,17,30,153,3,S
3,경부선,0010,74,0010CZS300,신탄진IC-회덕JC,20221216,1751,0010VDS21600,26,40,198,3,S
4,경부선,0010,92,0010CZS370,천안IC-천안JC,20221216,1751,0010VDS26100,32,23,117,3,S

### 구간별 두개의 vds ID가 존재하는데 메뉴얼상 설명이 없음, 데이터 분석을 위해 conzoneName으로 중복값 제거
### 데이터 분석용으로 해석가능한 열 선택
* stdDate, stdHour, conzoneName, routeName, trafficAmount, spped, timeAvg

In [17]:
df.head()

,routeName,routeNo,trafficAmout,conzoneId,conzoneName,stdDate,stdHour,vdsId,speed,shareRatio,timeAvg,grade,updownTypeCode
0,경부선,0010,69,0010CZE460,신갈JC-서울TG,20221216,1751,0010VDE30600,39,10,57,3,E
1,경부선,0010,85,0010CZE460,신갈JC-서울TG,20221216,1751,0010VDE30632,35,10,100,3,E
2,경부선,0010,30,0010CZS300,신탄진IC-회덕JC,20221216,1751,0010VDS21500,17,30,153,3,S
3,경부선,0010,74,0010CZS300,신탄진IC-회덕JC,20221216,1751,0010VDS21600,26,40,198,3,S
4,경부선,0010,92,0010CZS370,천안IC-천안JC,20221216,1751,0010VDS26100,32,23,117,3,S