   # 제목 크기 별 표시
   ### (최대 6단계 까지 표시)

In [ ]:
# 첫 번째 큰 제목

## 두 번째 큰 제목

### 세 번째 큰 제목

#### 네 번째 제목

##### 다섯 번째 제목

###### 여섯 번째 제목

# 첫 번째 큰 제목

## 두 번째 큰 제목

### 세 번째 큰 제목

#### 네 번째 제목

##### 다섯 번째 제목

###### 여섯 번째 제목

## 단축키 1~6 으로 크기 조정

# 이 문장의 크기를 단축키로 바꿔보세요

# Code

In [1]:
'''
~~~python
import pandas as ps
num1 += 1
"""
프로그램 알고리즘 작성
"""
~~~
'''

'\n~~~python\nimport pandas as ps\nnum1 += 1\n"""\n프로그램 알고리즘 작성\n"""\n~~~\n'

~~~python
import pandas as ps
num1 += 1
"""
프로그램 알고리즘 작성
"""
~~~

# 수평선

***
---

***

---

# 목록

+ 첫번째

+ 두번째

+ 세번째



- 첫번째

- 두번째

- 세번째



* 첫번째

* 두번째

* 세번째

# 블릿
## 블릿 입력기호

+ 첫번째

+ 두번째

+ 세번째



- 첫번째

- 두번째

- 세번째



* 첫번째

* 두번째

* 세번째

+ 첫번째

     + 두번째

          + 세번째

- 첫번째

     - 두번째

          - 세번째

* 첫번째

     * 두번째

          * 세번째

## Depth별 블릿 기호

+ 첫번째

     + 두번째

          + 세번째

- 첫번째

     - 두번째

          - 세번째

* 첫번째

     * 두번째

          * 세번째

* 첫번째
    * 두 번째
        * 세 번째

# 글씨 효과

*기울어진 글씨* 

_기울어진 글씨_ 

**굵은 글씨** 

__굵은 글씨__ 

~~줄그어진 글씨~

*기울어진 글씨* 

_기울어진 글씨_ 

**굵은 글씨** 

__굵은 글씨__ 

~~줄그어진 글씨~

# 하이퍼링크

[홈페이지이름](URL)
예)
[네이버](http://www.naver.com)

[네이버](http://www.naver.com)

# 줄바꿈

나는 자랑스러운 태극기 앞에[공백(Space)문자 2개]  
조국과 민족의 무궁한

나는 자랑스러운 태극기 앞에  
조국과 민족의 무궁한

# 테이블

|  이름  | 국어성적 | 영어성적 | 수학성적 |
|--------|----------|----------|----------|
| 홍길동 |    90    |    79    |    80    |
| 이순신 |    90    |    79    |    80    |
| 임꺽정 |    90    |    79    |    80    |

|  이름  | 국어성적 | 영어성적 | 수학성적 |
|--------|----------|----------|----------|
| 홍길동 |    90    |    79    |    80    |
| 이순신 |    90    |    79    |    80    |
| 임꺽정 |    90    |    79    |    80    |

# 수학공식

[LaTex 문법](https://ko.wikipedia.org/wiki/%EC%9C%84%ED%82%A4%EB%B0%B1%EA%B3%BC:TeX_%EB%AC%B8%EB%B2%95) 을 따름

사용예)
$$\sqrt{x^3+y^3 \over 2}$$

$$\sqrt{x^3+y^3 \over 2}$$

# HTML 코드

## 글자색상

~~~python
"""
<span style="color:red">빨간색 글씨</span>  
<span style="color:blue">파란색 글씨</span>
<span style="color:#F8766D">색상코드의 글씨</span>
"""
~~~

<span style="color:red">빨간색 글씨</span>  
<span style="color:blue">파란색 글씨</span>  
<span style="color:#F8766D">색상코드의 글씨</span>

## Table

~~~python
"""
<table border="">
  <th>이름</th><th>나이</th>
    <tr>
      <td>사람1</td>
      <td>20</td>
    </tr>
    <tr>
      <td>사람2</td>
      <td>22</td>
    </tr>
</table>
"""
~~~

<table border="">
  <th>이름</th><th>나이</th>
    <tr>
      <td>사람1</td>
      <td>20</td>
    </tr>
    <tr>
      <td>사람2</td>
      <td>22</td>
    </tr>
</table>