# Step1] 심장질환 예측
* 데이터셋: heart.csv
* Mission
 - 앞에 배운 내용을 참고로 하여 Feature, label(Target)을 분류
 - 훈련데이터셋, 테스트 데이터셋 분류
 - 데이터 표준화
 - 모델 성능 평가

# Step2] 펭귄 종류 예측
* Seaborn에 있는 펭귄데이터에 펭귄 종을 예측
 - 2개 종을 예측 할 수 있도록 데이터 전처리 및 모든 조합의 모델 생성  
   (Adelie, Chinstrap, Gentoo)
   - Adelie, Chinstrap
   - Adelie, Gentoo
   - Chinstrap, Gentoo

In [2]:
import seaborn as sns
penguins = sns.load_dataset('penguins')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [6]:
penguins.shape

(344, 7)

In [4]:
penguins['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [5]:
penguins['island'].value_counts()

Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64