In [2]:
import pandas as pd

In [8]:
input_file = '초단기실황조회_202212250734.csv'

df = pd.read_csv(input_file)

In [9]:
df

   baseDate  baseTime category  nx   ny  obsrValue
0  20221225       700      PTY  58  125        0.0
1  20221225       700      REH  58  125       71.0
2  20221225       700      RN1  58  125        0.0
3  20221225       700      T1H  58  125       -8.3
4  20221225       700      UUU  58  125        0.1
5  20221225       700      VEC  58  125      186.0
6  20221225       700      VVV  58  125        1.0
7  20221225       700      WSD  58  125        1.0

timestamp nx ny pty reh rn1 t1h uuu vec vvv wsd

In [18]:
df2 = pd.pivot_table(df,index='baseDate',columns=['category'], values='obsrValue')
df2

category  PTY   REH  RN1  T1H  UUU    VEC  VVV  WSD
baseDate
20221225  0.0  71.0  0.0 -8.3  0.1  186.0  1.0  1.0

In [19]:
# baseDate와 baseTime 열을 병합
# nx, ny 열 추가