# Pandas 튜토리얼 연습

관련문서 : https://3months.tistory.com/292

In [13]:
# 1. Create Pandas Dataframe
from IPython.display import display  
import pandas  as pd 

# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
display(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

In [14]:
# Take a dictionary as input to your DataFrame 
my_dict = {"a": ['1', '3'], "b": ['1', '2'], "c": ['2', '4']}
display(pd.DataFrame(my_dict))

   a  b  c
0  1  1  2
1  3  2  4

In [15]:
# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
display(pd.DataFrame(my_df))

   A
0  4
1  5
2  6
3  7

In [17]:
# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

## Dataframe 간단하게 살펴보기
- df.shape를 통해 dataframe의 row와 column 수를 알 수 있다. 
  - .index를 통해 index를 알 수 있으며, 
  - len을 통해 dataframe의 길이(row의 갯수)를 알 수 있다.

In [46]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]),columns=['A','B','C'])

# Use the `shape` property
print(df.shape)

# Or use the `len()` function with the `index` property
print(len(df.index))

(2, 3)
2

In [47]:
list(df.columns)

['A', 'B', 'C']

## 2. Dataframe에서 특정 컬럼이나 로우(인덱스) 선택하기

In [48]:
# Use `iloc[]` to select a row
display(df.iloc[0])
display(df.loc[0])
display(df.index[0])

A    1
B    2
C    3
Name: 0, dtype: int32

A    1
B    2
C    3
Name: 0, dtype: int32

0

In [49]:
# Use `loc[]` to select a column
display(df.loc[:,'A'])
display(df['A'])

0    1
1    4
Name: A, dtype: int32

0    1
1    4
Name: A, dtype: int32

In [51]:
# 특정 row, column을 선택하기
display(df.index[0]['A'])
display(df.loc[0]['B'])

TypeError: 'int' object is not subscriptable

In [5]:
import collections
from collections import abc
import datetime
from io import StringIO
import itertools
from textwrap import dedent

In [6]:
from typing import (
    IO,
    TYPE_CHECKING,
    Any,
    AnyStr,
    Dict,
    FrozenSet,
    Hashable,
    Iterable,
    Iterator,
    List,
    Mapping,
    Optional,
    Sequence,
    Set,
    Tuple,
    Type,
    Union,
    cast,
)

In [7]:
import warnings

import numpy as np
import numpy.ma as ma

from pandas._config import get_option

from pandas._libs import algos as libalgos, lib, properties
from pandas._libs.lib import no_default

In [8]:
from pandas._typing import (
    ArrayLike,
    Axes,
    Axis,
    Dtype,
    FilePathOrBuffer,
    FrameOrSeriesUnion,
    IndexKeyFunc,
    Label,
    Level,
    Renamer,
    ValueKeyFunc,
)

ImportError: cannot import name 'IndexKeyFunc' from 'pandas._typing' (C:\COSMOS\Anaconda3\lib\site-packages\pandas\_typing.py)

In [9]:
from pandas.compat import PY37
from pandas.compat._optional import import_optional_dependency
from pandas.compat.numpy import function as nv
from pandas.util._decorators import (
    Appender,
    Substitution,
    deprecate_kwarg,
    doc,
    rewrite_axis_style_signature,
)
from pandas.util._validators import (
    validate_axis_style_args,
    validate_bool_kwarg,
    validate_percentile,
)

ImportError: cannot import name 'doc' from 'pandas.util._decorators' (C:\COSMOS\Anaconda3\lib\site-packages\pandas\util\_decorators.py)