In [1]:
import pandas as pd

### 참조 자료

        https://tomaugspurger.github.io/modern-5-tidy

##  예제 10-1 데이터 알아보기

In [2]:
tables = pd.read_html("http://www.basketball-reference.com/leagues/NBA_2018_games.html")

In [3]:
type(tables)

list

In [4]:
type(tables[0])

pandas.core.frame.DataFrame

In [5]:
games = tables[0]

In [6]:
games.to_csv("../data/nav_2018.csv")

In [7]:
import chardet

In [8]:
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

In [9]:
my_encoding1 = find_encoding('../data/nav_2018.csv')

In [10]:
df_1 = pd.read_csv('../data/nav_2018.csv', encoding=my_encoding1)

In [11]:
my_encoding1

'Windows-1252'

In [12]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             104 non-null    object
 1   Start (ET)       104 non-null    object
 2   Visitor/Neutral  104 non-null    object
 3   PTS              104 non-null    int64
 4   Home/Neutral     104 non-null    object
 5   PTS.1            104 non-null    int64
 6   Unnamed: 6       104 non-null    object
 7   Unnamed: 7       2 non-null      object
 8   Attend.          104 non-null    int64
 9   Arena            104 non-null    object
 10  Notes            0 non-null      float64
dtypes: float64(1), int64(3), object(7)
memory usage: 9.1+ KB

In [13]:
games.shape

(104, 11)

In [14]:
games.head()

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Arena,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,Quicken Loans Arena,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,Oracle Arena,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,Little Caesars Arena,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,Bankers Life Fieldhouse,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,Amway Center,NaN

In [15]:
games['Attend.'].head()

0    20562
1    19596
2    20491
3    15008
4    18846
Name: Attend., dtype: int64

In [16]:
games[['Attend.']].head()

   Attend.
0    20562
1    19596
2    20491
3    15008
4    18846

## 예제 10-2 데이터 자료형 및 이름 맞추기

### 빈열이 있음을 확인한다.

In [35]:
games.columns

Index(['경기일자', 'start', '방문팀', '방문팀점수', '홈팀', '홈팀점수', 'Unnamed: 6',
       'Unnamed: 7', '관중수', 'Arena', 'Notes'],
      dtype='object')

In [36]:
games.columns[6]

'Unnamed: 6'

In [37]:
games.columns[7]

'Unnamed: 7'

In [38]:
column_names = {'Date': '경기일자', 'Start (ET)': 'start',
                'Visitor/Neutral': '방문팀', 
                'PTS': '방문팀점수', 'Home/Neutral': '홈팀',
                'PTS.1': '홈팀점수', 'Unnamed: 6' : 'Box', 'Attend.':'관중수','Unnamed: 7': 'n_ot'}

In [39]:
games.rename(columns=column_names).head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Arena,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,Quicken Loans Arena,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,Oracle Arena,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,Little Caesars Arena,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,Bankers Life Fieldhouse,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,Amway Center,NaN

In [40]:
games = games.rename(columns=column_names)

In [41]:
games.columns

Index(['경기일자', 'start', '방문팀', '방문팀점수', '홈팀', '홈팀점수', 'Box', 'n_ot', '관중수',
       'Arena', 'Notes'],
      dtype='object')

In [42]:
games.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Box,n_ot,관중수,Arena,Notes
0,"Tue, Oct 17, 2017",8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,Quicken Loans Arena,NaN
1,"Tue, Oct 17, 2017",10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,Oracle Arena,NaN
2,"Wed, Oct 18, 2017",7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,Little Caesars Arena,NaN
3,"Wed, Oct 18, 2017",7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,Bankers Life Fieldhouse,NaN
4,"Wed, Oct 18, 2017",7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,Amway Center,NaN

In [43]:
games['경기일자'].dtype

dtype('O')

In [44]:
a_g = games.assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y'))

In [27]:
a_g.head()

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Unnamed: 6,Unnamed: 7,관중수,Arena,Notes
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,Quicken Loans Arena,NaN
1,2017-10-17,10:30p,Houston Rockets,122,Golden State Warriors,121,Box Score,NaN,19596,Oracle Arena,NaN
2,2017-10-18,7:00p,Charlotte Hornets,90,Detroit Pistons,102,Box Score,NaN,20491,Little Caesars Arena,NaN
3,2017-10-18,7:00p,Brooklyn Nets,131,Indiana Pacers,140,Box Score,NaN,15008,Bankers Life Fieldhouse,NaN
4,2017-10-18,7:00p,Miami Heat,109,Orlando Magic,116,Box Score,NaN,18846,Amway Center,NaN

In [28]:
games_ = a_g.copy()

In [29]:
games_.shape

(104, 11)

In [30]:
games_.경기일자.dtype

dtype('<M8[ns]')

In [31]:
print(games_.경기일자.dtype)

datetime64[ns]

## 예제 10-3 초기값 및 결측데이터 정리하기

In [32]:
games_.isnull().sum()

경기일자            0
start           0
방문팀             0
방문팀점수           0
홈팀              0
홈팀점수            0
Unnamed: 6      0
Unnamed: 7    102
관중수             0
Arena           0
Notes         104
dtype: int64

In [34]:
games_.head(1)

,경기일자,start,방문팀,방문팀점수,홈팀,홈팀점수,Unnamed: 6,Unnamed: 7,관중수,Arena,Notes
0,2017-10-17,8:01p,Boston Celtics,99,Cleveland Cavaliers,102,Box Score,NaN,20562,Quicken Loans Arena,NaN

In [33]:
games_[games_['n_ot'].notnull()]

KeyError: 'n_ot'

In [ ]:
games_['n_ot'].fillna('NOT',inplace=True)

In [ ]:
games_.info()

In [ ]:
games_na = games_.dropna(axis=1)

In [ ]:
games_na.head()

In [ ]:
games_na.shape

## 예제 10-4 필요 열만 추출해서 정리하기

In [ ]:
games_nae = games_na[['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]

In [ ]:
games_nae.columns

In [ ]:
games_nae.head()

In [ ]:
games_naes = games_nae.set_index('경기일자',append=True)

In [ ]:
games_naes.head()

In [ ]:
games_naesr = games_naes.rename_axis(["게임","경기일자"])

In [ ]:
games_naesr.head()

In [ ]:
games_naesr = games_naesr.sort_index()

In [ ]:
games_naesr.head()

In [ ]:
type(games_naesr.index)

In [ ]:
type(games_naesr.columns)

## 예제 10-5 데이터 작업 체인닝 처리하기

In [ ]:
games_all = (games_na.rename(columns=column_names)
    .dropna(thresh=4)
    [['경기일자', '방문팀', '방문팀점수', '홈팀', '홈팀점수']]
    .assign(경기일자=lambda x: pd.to_datetime(x['경기일자'], format='%a, %b %d, %Y'))
    .set_index('경기일자', append=True)
    .rename_axis(["게임", "경기일자"])
    .sort_index())

In [ ]:
games_all.head()

In [ ]:
games_all.index.levels[1]

## 예제 10-6 데이터 조정해서  확정하기

In [ ]:
tidy = pd.melt(games_all.reset_index(),
               id_vars=['게임', '경기일자'], value_vars=['방문팀', '홈팀'],
               var_name='팀구분',value_name='팀')

In [ ]:
tidy.head()

In [ ]:
tidy.tail()

In [ ]:
tidy.경기일자.dtype

In [ ]:
x = (tidy.groupby('팀')['경기일자'].diff().dt.days == 1 )

In [ ]:
tidy['경기일자'][x]

In [ ]:
ab = tidy.groupby('팀')['경기일자'].diff().dt.days -1

In [ ]:
ab.shape

In [ ]:
ab.isnull().sum()

In [ ]:
tidy['휴식일'] = tidy.sort_values('경기일자').groupby('팀').경기일자.diff().dt.days - 1

In [ ]:
tidy.isnull().sum()

In [ ]:
tidy = tidy.fillna(0)

In [ ]:
tidy.shape

In [ ]:
tidy.head()

In [ ]:
by_game = pd.pivot_table(tidy, values='휴식일',
                          index=['게임', '경기일자'],
                          columns='팀구분')

In [ ]:
by_game.head()

In [ ]:
by_game = by_game.rename(columns={'방문팀': '방문팀휴식일',
                              '홈팀': '홈팀휴식일'})

In [ ]:
by_game.head()

In [ ]:
by_game.shape

In [ ]:
games_all.head()

In [ ]:
df = pd.concat([games_all, by_game], axis=1)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
by_game_ = (pd.pivot_table(tidy, values='휴식일',
                          index=['게임', '경기일자'],
                          columns='팀구분')
             .rename(columns={'방문팀': '방문팀휴식일',
                              '홈팀': '홈팀휴식일'}))

In [ ]:
df_ = pd.concat([games_all, by_game_], axis=1)

In [ ]:
df_.head()