In [2]:
import pandas as pd

## 예제 2-1 시리즈 멤버 알아보기

sr = pd.Series([1,2,3,4],index=list('abcd'),name="SR1")

sr

sr.name

sr.dtype

sr.shape

sr.ndim

sr.size

sr.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [3]:
import pandas as pd

## 예제 2-2 데이터프레임 멤버 알아보기

df = pd.DataFrame([[1,2,3,4],[5,6,7,8]],index=['a','b'],
                  columns=['c1','c2','c3','c4'])

df

df.shape

df.ndim

df.size

df.index

df.columns

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      2 non-null      int64
 1   c2      2 non-null      int64
 2   c3      2 non-null      int64
 3   c4      2 non-null      int64
dtypes: int64(4)
memory usage: 80.0+ bytes

In [4]:
import pandas as pd

## 예제 2-3 시리즈와 데이터프레임의 다양한 멤버 확인하기

dir(pd.Series)

s = set([ i for i in dir(pd.Series) if not i.startswith("_")])

s

dir(pd.DataFrame)

d = set([ i for i in dir(pd.DataFrame) if not i.startswith("_")])

d

{'T',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs'}

In [5]:
import pandas as pd

## 예제 2-4 파일에 저장된 멤버 정보를 읽어와서 확인하기

df_f = pd.read_csv('../data/series_dataframe.csv', 
                   usecols=['Member','Series','DataFrame'],
                   encoding='euc-kr')

df_f.head()

 # 1행을 헤더로 사용하였기 때문에 전체 데이터는 헤더를 제외한 264가 된다.

df_f.shape

df_f['Series'].head()

# Series 열에 데이터가 없는 셀의 총합

df_f['Series'].isnull().sum()

df_f['Series'].head(15)

df_f['DataFrame'].isnull().sum()

(df_f['Member'] == df_f['Series']).head()

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [6]:
## 예제 2-5 : 리스트로 시리즈 생성

import pandas as pd

obj = pd.Series([1,2,3,4])


obj

obj.values

# start ~ stop-1

obj.index

obj.dtype

dtype('int64')

In [7]:
import pandas as pd

## 예제 2-6 : 딕셔너리로 시리즈 생성

d = {'a':1,'b':2,'c':3}
ser = pd.Series(d,name='something')

ser

index = ['a','b','c']

obj1 = pd.Series([1,2,3],index=index,name="test") 

obj1

a    1
b    2
c    3
Name: test, dtype: int64

In [8]:
import pandas as pd

## 예제 2-7 : 넘파이 모듈 이용해서 생성하기

import numpy as np
import pandas as pd

s = pd.Series(np.random.randn(5))

# randn method는 표준 정규분포 확률을 따르는 난수를 return

# 표준정규분포란 평균을 0, 표준편차를 1인 정규분포를 의미

s

0    0.750900
1    1.685251
2    1.951483
3    0.301209
4    0.415667
dtype: float64

In [9]:
import pandas as pd

## 예제 2-8 : 시리즈의 기본 속성 알아보기

obj = pd.Series([1,2,3,4],name="obj")

obj.shape, obj.ndim

obj

obj.values

obj.dtype, obj.nbytes

obj_emp = pd.Series()

obj_emp.empty

C:\Users\TJ\AppData\Local\Temp\ipykernel_16360\751014385.py:15: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obj_emp = pd.Series()

True

In [10]:
import pandas as pd

## 예제 2-9 : 시리즈로 데이터프레임 생성


s1 = pd.Series([1,2,3,4],name='s1')
s2 = pd.Series(['a','b','c','d'],name='s2')

s1

s2

df = pd.DataFrame({'s1':s1,'s2':s2})

# dict인 경우 키가 열로 들어감

df

df['s1']

s1 == df['s1']

# dict가 아닌 경우 시리즈의 이름이 행 한위로 들어감
# 다음 다음의 예제와 같은 원리

df_a = pd.DataFrame([s1,s2])

df_a

df_b = pd.DataFrame(
    [
        [1,2,3,4],
        ['a','b','c','d']
    ]
)
df_b

   0  1  2  3
0  1  2  3  4
1  a  b  c  d

In [ ]:
import pandas as pd

## 예제 2-10 : 딕셔너리가 원소인 딕셔너리로 데이터프레임 생성

# dict 키는 열로 지정 값이 중첩된 dict라면 여기에서의 키는 각각 행의 이름으로 매칭

data = {'AAA' : {'a' : 4,'b':5, 'c':6, 'd':7}, 
        'BBB' : {'a': 10, 'b' : 20, 'c':30, 'd': 40},
        'CCC' : {'a':100, 'b': 50, 'c': -30, 'd': -50} }

df = pd.DataFrame(data)

df

# 컬럼을 재정의하여 기존의 DataFrame을 필터링

df2 = pd.DataFrame(data, columns=['AAA','CCC'])

df2

In [12]:
import pandas as pd

## 예제 2-11 : 데이터 프레임의 기본 속성 알아보기

names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
BabyDataSet = list(zip(names,births))


BabyDataSet

df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])

df

df.values

df.axes

df.index

df.columns

df.dtypes

df.shape, df.ndim, df.size

((5, 2), 2, 10)

In [13]:
import pandas as pd

## 예제 2-12 데이터를 읽어오기

ct = pd.read_csv("../data/2017_college_tuition.csv",encoding='euc-kr')

ct.head()

ct.tail()

ct.shape

ct.columns

## 예제 2-13 대괄호를 이용한 일반 검색

ct_ser = ct['학교명']

ct_ser.head()

ct_ser[0]

ct_ser[1]

ct_ser[100]

ct_ser.__getitem__(100)

ct.__getitem__('학교명').head()



## 예제 2-14 대괄호를 이용한 슬라이스 검색

ct_ser[10:20]

ct_slice = ct[10:20]

ct_slice

ct_slice.head()

ct_slice.shape

# slice => [] 와 같은 효과

ct.__getitem__(slice(10,20)).head()

        학교명 설립구분  평균등록금
10  금오공과대학교  국공립   3769
11  대구교육대학교  국공립   3604
12    목포대학교  국공립   3895
13  목포해양대학교  국공립   3424
14    부경대학교  국공립   4042