In [135]:
import pandas as pd

## 예제 8-7  eval 함수와 메소드 처리하기

In [136]:
import numpy as np

In [137]:
rng = np.random.RandomState(42)

In [138]:
nrows, ncols = 100000, 10

In [139]:
print(type(pd.DataFrame(rng.rand(nrows, ncols)) for i in range(2)))

<class 'generator'>

In [140]:
# 0,1 두번 for문의 루프가 반복되면서 nrows, ncols 크기의 데이터 프레임을 각각 생성한다.
df1, df2 = (pd.DataFrame(rng.rand(nrows, ncols))for i in range(2))

In [141]:
df1.head()

,0,1,2,3,4,5,6,7,8,9
0,0.374540,0.950714,0.731994,0.598658,0.156019,0.155995,0.058084,0.866176,0.601115,0.708073
1,0.020584,0.969910,0.832443,0.212339,0.181825,0.183405,0.304242,0.524756,0.431945,0.291229
2,0.611853,0.139494,0.292145,0.366362,0.456070,0.785176,0.199674,0.514234,0.592415,0.046450
3,0.607545,0.170524,0.065052,0.948886,0.965632,0.808397,0.304614,0.097672,0.684233,0.440152
4,0.122038,0.495177,0.034389,0.909320,0.258780,0.662522,0.311711,0.520068,0.546710,0.184854

In [142]:
df2.head()

,0,1,2,3,4,5,6,7,8,9
0,0.595156,0.364717,0.005376,0.561088,0.896570,0.531717,0.780488,0.161954,0.137298,0.893944
1,0.782998,0.347410,0.800172,0.075326,0.517900,0.881456,0.843601,0.371253,0.228849,0.867865
2,0.266901,0.822025,0.266517,0.984533,0.360120,0.255362,0.599228,0.359710,0.810427,0.732750
3,0.632495,0.422013,0.834611,0.306137,0.295722,0.091476,0.563500,0.696945,0.712998,0.861404
4,0.567160,0.025521,0.175390,0.561330,0.317477,0.864216,0.228547,0.255269,0.842986,0.581316

In [143]:
(df1+df2).head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.969696,1.315431,0.737370,1.159746,1.052589,0.687711,0.838571,1.028130,0.738413,1.602016
1,0.803583,1.317320,1.632615,0.287665,0.699725,1.064861,1.147843,0.896010,0.660794,1.159094
2,0.878754,0.961518,0.558662,1.350895,0.816190,1.040538,0.798902,0.873944,1.402842,0.779200
3,1.240040,0.592538,0.899663,1.255023,1.261354,0.899873,0.868114,0.794617,1.397231,1.301557
4,0.689199,0.520698,0.209779,1.470651,0.576257,1.526738,0.540258,0.775337,1.389696,0.766170

In [144]:
 pd.eval('df1 + df2').head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.969696,1.315431,0.737370,1.159746,1.052589,0.687711,0.838571,1.028130,0.738413,1.602016
1,0.803583,1.317320,1.632615,0.287665,0.699725,1.064861,1.147843,0.896010,0.660794,1.159094
2,0.878754,0.961518,0.558662,1.350895,0.816190,1.040538,0.798902,0.873944,1.402842,0.779200
3,1.240040,0.592538,0.899663,1.255023,1.261354,0.899873,0.868114,0.794617,1.397231,1.301557
4,0.689199,0.520698,0.209779,1.470651,0.576257,1.526738,0.540258,0.775337,1.389696,0.766170

In [145]:
%timeit df1 + df2

3.41 ms ± 107 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [146]:
%timeit pd.eval('df1 + df2')

3.74 ms ± 133 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [147]:
# 두 연산의 결과가 같은지 판단하여 True/False를 반환함
np.allclose(df1 + df2 ,pd.eval('df1 + df2 '))

True

In [148]:
nrows1, ncols1 = 100000, 100

In [149]:
df11, df12,df13, df14 = (pd.DataFrame(rng.rand(nrows1, ncols1))for i in range(4))

In [150]:
%timeit df11 + df12 + df13 + df14

74.5 ms ± 1.69 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [151]:
# 보다 많은 데이터를 생성하고 데이터 프레임도 확대대는 경우 좋은 성능을 낼 수 있다.
%timeit pd.eval('df11 + df12 + df13 + df14')

32.1 ms ± 532 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [152]:
dfa1 = pd. DataFrame(np.random.randn(10, 2), columns=['평균','분산'])

In [153]:
dfa1

         평균        분산
0 -1.549803 -0.770897
1  0.399227  0.885729
2 -0.873465  0.389168
3 -2.142839  0.274647
4  0.057590  0.945315
5 -0.648662 -0.668296
6  0.828860  0.923531
7 -1.352116 -0.704572
8  3.696619 -0.909456
9 -0.960786  0.439227

In [154]:
dfa1.eval( '평균 + 분산 ')

0   -2.320700
1    1.284956
2   -0.484297
3   -1.868192
4    1.002905
5   -1.316957
6    1.752391
7   -2.056688
8    2.787163
9   -0.521560
dtype: float64

In [155]:
dfa1.eval( '편차  = 평균 - 분산 ')

         평균        분산        편차
0 -1.549803 -0.770897 -0.778906
1  0.399227  0.885729 -0.486502
2 -0.873465  0.389168 -1.262633
3 -2.142839  0.274647 -2.417486
4  0.057590  0.945315 -0.887724
5 -0.648662 -0.668296  0.019634
6  0.828860  0.923531 -0.094671
7 -1.352116 -0.704572 -0.647543
8  3.696619 -0.909456  4.606075
9 -0.960786  0.439227 -1.400013

In [156]:
# 자기 자신을 바꾸지는 않는다.
dfa1

         평균        분산
0 -1.549803 -0.770897
1  0.399227  0.885729
2 -0.873465  0.389168
3 -2.142839  0.274647
4  0.057590  0.945315
5 -0.648662 -0.668296
6  0.828860  0.923531
7 -1.352116 -0.704572
8  3.696619 -0.909456
9 -0.960786  0.439227

In [157]:
dfa1.eval( '편차 = 평균 - 분산 ', inplace=True)

In [158]:
dfa1

         평균        분산        편차
0 -1.549803 -0.770897 -0.778906
1  0.399227  0.885729 -0.486502
2 -0.873465  0.389168 -1.262633
3 -2.142839  0.274647 -2.417486
4  0.057590  0.945315 -0.887724
5 -0.648662 -0.668296  0.019634
6  0.828860  0.923531 -0.094671
7 -1.352116 -0.704572 -0.647543
8  3.696619 -0.909456  4.606075
9 -0.960786  0.439227 -1.400013

In [159]:
dfa2 = pd. DataFrame(np.random.randn(10, 2), columns=range(0,2))

In [160]:
dfa2

          0         1
0 -0.499009  0.042974
1 -0.962585  0.171866
2  0.261195  0.147995
3  0.128285 -0.327492
4  0.812297 -1.264526
5  0.395923 -1.675047
6  1.468089 -0.515918
7 -0.747564  0.936349
8 -0.002201 -0.018846
9 -0.110890 -0.208327

In [161]:
# 열이름을 사용하여 연산을 할 수 있을까?
dfa2.eval( '0 +1 ')

1

In [162]:
# .을 통해 열 접근은?
try :
    pd.eval('dfa2.0 + dfa2.1')
except Exception as e  :
    print("exception ", e)

exception  invalid syntax (<unknown>, line 1)

In [163]:
# 올바른 사용예
try :
    df_add = pd.eval('dfa2[0] + dfa2[1]')
except Exception as e  :
    print("exception ", e)

In [164]:
df_add

0   -0.456035
1   -0.790719
2    0.409190
3   -0.199207
4   -0.452229
5   -1.279123
6    0.952171
7    0.188785
8   -0.021047
9   -0.319217
dtype: float64

In [165]:
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3)))
                           for i in range(5))

In [166]:
result1 = -df1 * df2 / (df3 + df4) - df5

In [167]:
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')

In [168]:
np.allclose(result1, result2)

True

In [169]:
result1 = (df1 < 0.5) & (df2 < 0.5) | (df3 < df4)

In [170]:
result2 = pd.eval('(df1 < 0.5) & (df2 < 0.5) | (df3 < df4)')

In [171]:
np.allclose(result1, result2)

True

In [172]:
result3 = pd.eval('(df1 < 0.5) and (df2 < 0.5) or (df3 < df4)')

In [173]:
np.allclose(result1, result3)

True

In [174]:
df = pd. DataFrame(np.random.randn(10, 2), columns=list('AB'))

In [175]:
df

          A         B
0  0.156641 -1.214475
1 -0.424489 -0.564420
2 -0.628532  0.332657
3  0.467289 -0.829481
4 -0.047620  0.366147
5 -1.637742  1.153795
6 -0.151004 -0.123082
7 -0.939270  1.507519
8  0.580754  0.328576
9 -2.031581  0.052519

In [176]:
column_mean = df.mean(axis=1)

In [177]:
column_mean.head()

0   -0.528917
1   -0.494454
2   -0.147938
3   -0.181096
4    0.159263
dtype: float64

In [178]:
result1 = df['A'] + column_mean

In [179]:
result2 = df.eval('A + @column_mean')

In [180]:
np.allclose(result1, result2)

True

### eval 함수 장점
* 대규모 복잡한 데이터프레임워크 간의 연산에서 좋은 성능을 낼수 있다.
* 연산시 변수 처리를 할 수 있어 대화형(Interactive) 검색을 할 수 있다.  

### eval 함수 단점
* 간단한 연산 수행시 성능상의 차이가 없다. 또는 나쁠수 있다.
* 특정 연산에 제약이 있을 수 있다.