In [7]:
# to_csv append 모드 사용하기 

import pandas as pd
import chardet
import os

# 샘플 데이터 생성
soda = {'상품명': ['콜라', '사이다'], '가격': [2700, 2000]}
df_test = pd.DataFrame(soda)
df_test

   상품명    가격
0   콜라  2700
1  사이다  2000

In [8]:
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

In [9]:
# .to_csv 
# 최초 생성 이후 mode는 append

if not os.path.exists('../data/my_test1.csv'):
    df_test.to_csv('../data/my_test1.csv', index=False, mode='w', encoding='utf-8-sig')
else:
    df_test.to_csv('../data/my_test1.csv', index=False, mode='a', encoding='utf-8-sig', header=False)

# os.pat.exists('../data/my_test1.csv')

In [10]:
my_encoding5 = find_encoding('../data/my_test1.csv')
df_my_test1 = pd.read_csv('../data/my_test1.csv', encoding='UTF-8')
df_my_test1.head()

   상품명    가격
0   콜라  2700
1  사이다  2000
2   콜라  2700
3  사이다  2000
4   콜라  2700

In [11]:
my_encoding5    # File Encoding 방식이 UTF-8로 되어 있슴을 알 수가 있다.

'UTF-8-SIG'