In [1]:
import pandas as pd

## 예제 1-10 내부 원소 처리 기준

In [2]:
import numpy as np

In [3]:
df_1 = pd.DataFrame(np.random.randint(1,10,(3,3)),columns=list('ABC'))

In [4]:
df_1

   A  B  C
0  1  7  1
1  1  5  4
2  6  7  3

In [5]:
df_2 = pd.DataFrame(np.random.randint(1,10,(3,3)),columns=list('CAB'))

In [6]:
df_2

   C  A  B
0  2  7  5
1  4  1  8
2  9  6  6

In [7]:
np.log(df_2)

          C         A         B
0  0.693147  1.945910  1.609438
1  1.386294  0.000000  2.079442
2  2.197225  1.791759  1.791759

In [8]:
df_1 + df_2

    A   B   C
0   8  12   3
1   2  13   8
2  12  13  12

In [9]:
df_3 = pd.DataFrame(np.random.randint(1,10,(3,2)),columns=list('CB'))

In [10]:
df_3

   C  B
0  9  5
1  8  9
2  3  2

In [11]:
df_1 + df_3

    A   B   C
0 NaN  12  10
1 NaN  14  12
2 NaN   9   6