In [55]:
import pandas as pd

## 예제 3-18 파일을 읽어서 범주형 자료형으로 변경처리

In [56]:
airplane = pd.read_csv('../data/airplane_info.csv',encoding='cp949')

In [57]:
airplane.head()

     기체번호       항공사        기종  정원_F  정원_C  정원_W  정원_Y    총정원
0  VP-BDK  Aeroflot  A320-214     0    20     0   120  140.0
1  VP-BWD  Aeroflot  A320-214     0    20     0   120  140.0
2  VP-BWE  Aeroflot  A320-214     0    20     0   120  140.0
3  VP-BWF  Aeroflot  A320-214     0    20     0   120  140.0
4  VP-BRZ  Aeroflot  A320-214     0    20     0   120  140.0

In [58]:
airplane['항공사'].dtype

dtype('O')

In [59]:
air_cat = pd.Categorical(airplane['항공사'])

In [60]:
air_cat.categories

Index(['AZAL Azerbaijan Airlines', 'Aeroflot', 'Air Arabia', 'Air Astana',
       'Air Baltic', 'Air China', 'Air Kyrgyzstan', 'Air Manas',
       'Airzena Georgian Airways', 'Asiana Airlines', 'AtlasGlobal',
       'Avia Traffic Company', 'Belavia', 'China Southern Airlines',
       'Ellinair', 'Etihad Airways', 'Finnair', 'Globus Airlines',
       'Hainan Airlines', 'Iran Aseman Airlines', 'KLM Royal Dutch Airlines',
       'Kam Air', 'Korean Air', 'LOT - Polish Airlines', 'Lufthansa',
       'MIAT - Monglian Airlines', 'Mahan Air', 'NordStar', 'Pegas Fly',
       'Pegasus Airlines', 'Pobeda', 'Red Wings', 'Rusline', 'S7 Airlines',
       'SCAT', 'Somon Air', 'Sunday Airlines', 'Tajik Air', 'Turkish Airlines',
       'Turkmenistan Airlines', 'Ukraine International Airlines',
       'Ural Airlines', 'Urumqi Air', 'Utair', 'Uzbekistan Airways',
       'VIM Airlines', 'Wizz Air', 'Yakutia Airlines', 'Yamal Airlines',
       'flydubai'],
      dtype='object')

In [61]:
air_cat

['Aeroflot', 'Aeroflot', 'Aeroflot', 'Aeroflot', 'Aeroflot', ..., 'Red Wings', 'Red Wings', 'Red Wings', 'Red Wings', 'Red Wings']
Length: 2178
Categories (50, object): ['AZAL Azerbaijan Airlines', 'Aeroflot', 'Air Arabia', 'Air Astana', ..., 'Wizz Air', 'Yakutia Airlines', 'Yamal Airlines', 'flydubai']

In [62]:
air_cat.shape

(2178,)

In [63]:
airplane['항공사'].dtype

dtype('O')

In [64]:
airplane['항공사_분석용']=air_cat

In [65]:
airplane['항공사_분석용'].dtype

CategoricalDtype(categories=['AZAL Azerbaijan Airlines', 'Aeroflot', 'Air Arabia',
                  'Air Astana', 'Air Baltic', 'Air China', 'Air Kyrgyzstan',
                  'Air Manas', 'Airzena Georgian Airways', 'Asiana Airlines',
                  'AtlasGlobal', 'Avia Traffic Company', 'Belavia',
                  'China Southern Airlines', 'Ellinair', 'Etihad Airways',
                  'Finnair', 'Globus Airlines', 'Hainan Airlines',
                  'Iran Aseman Airlines', 'KLM Royal Dutch Airlines',
                  'Kam Air', 'Korean Air', 'LOT - Polish Airlines',
                  'Lufthansa', 'MIAT - Monglian Airlines', 'Mahan Air',
                  'NordStar', 'Pegas Fly', 'Pegasus Airlines', 'Pobeda',
                  'Red Wings', 'Rusline', 'S7 Airlines', 'SCAT', 'Somon Air',
                  'Sunday Airlines', 'Tajik Air', 'Turkish Airlines',
                  'Turkmenistan Airlines', 'Ukraine International Airlines',
                  'Ural Airlines', 'Urumqi Air', 'Utair', 'Uzbekistan Airways',
                  'VIM Airlines', 'Wizz Air', 'Yakutia Airlines',
                  'Yamal Airlines', 'flydubai'],
, ordered=False)

In [66]:
airplane['항공사'].dtype

dtype('O')

In [67]:
try :
    airplane.loc[0,'항공사'] = "Asia Airline"
except Exception as e :
    print(e)

In [68]:
airplane.head(1)

     기체번호           항공사        기종  정원_F  정원_C  정원_W  정원_Y    총정원   항공사_분석용
0  VP-BDK  Asia Airline  A320-214     0    20     0   120  140.0  Aeroflot

In [69]:
try :
    airplane.loc[0,'항공사_분석용'] = "Asia Airline"
except Exception as e :
    print(e)

Cannot setitem on a Categorical with a new category (Asia Airline), set the categories first

In [70]:
airplane.isnull().sum()

기체번호        0
항공사         0
기종          0
정원_F        0
정원_C        0
정원_W        0
정원_Y        0
총정원        71
항공사_분석용     0
dtype: int64

In [71]:
airplane.columns

Index(['기체번호', '항공사', '기종', '정원_F', '정원_C', '정원_W', '정원_Y', '총정원', '항공사_분석용'], dtype='object')

In [72]:
airplane['총정원'].isnull().sum()

71

In [73]:
airplane.loc[airplane['총정원'].isnull(),['총정원']]

      총정원
2107  NaN
2108  NaN
2109  NaN
2110  NaN
2111  NaN
...   ...
2173  NaN
2174  NaN
2175  NaN
2176  NaN
2177  NaN

[71 rows x 1 columns]

In [74]:
airplane.loc[2107:2112,['총정원']]

      총정원
2107  NaN
2108  NaN
2109  NaN
2110  NaN
2111  NaN
2112  NaN

In [75]:
# 총정원 열의 결측치가 있는 모든 행에 같은 행에 있는 정원_Y 값으로 대체
airplane.loc[airplane['총정원'].isnull(), '총정원']  = airplane.loc[airplane['총정원'].isnull(), '정원_Y']

In [77]:
airplane.loc[2107:2112,['총정원']]

        총정원
2107  180.0
2108  180.0
2109  180.0
2110  180.0
2111  180.0
2112  180.0

In [78]:
airplane.isnull().sum()

기체번호       0
항공사        0
기종         0
정원_F       0
정원_C       0
정원_W       0
정원_Y       0
총정원        0
항공사_분석용    0
dtype: int64

In [83]:
# 총정원이 1에서 120 사이의 값이면 True를 반환
mask = airplane['총정원'].between(1,120)

In [84]:
mask

0       False
1       False
2       False
3       False
4       False
        ...
2173    False
2174    False
2175    False
2176    False
2177    False
Name: 총정원, Length: 2178, dtype: bool

In [91]:
(airplane['총정원'] > 0) & (airplane['총정원'] < 120)

0       False
1       False
2       False
3       False
4       False
        ...
2173    False
2174    False
2175    False
2176    False
2177    False
Name: 총정원, Length: 2178, dtype: bool

In [90]:
# 논리연산시 괄호 쓰지 않으면 에러 발생
airplane['총정원'] > 0 & airplane['총정원'] < 120

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [87]:
airplane.loc[(airplane['총정원'] > 0) & (airplane['총정원'] < 120 ]

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [92]:
airplane.loc[airplane['총정원'].between(1,120),:]

,기체번호,항공사,기종,정원_F,정원_C,정원_W,정원_Y,총정원,항공사_분석용
177,RA-89014,Aeroflot,SU100-95B,0,12,0,75,87.0,Aeroflot
178,RA-89015,Aeroflot,SU100-95B,0,12,0,75,87.0,Aeroflot
179,RA-89017,Aeroflot,SU100-95B,0,12,0,75,87.0,Aeroflot
180,RA-89022,Aeroflot,SU100-95B,0,12,0,75,87.0,Aeroflot
181,RA-89023,Aeroflot,SU100-95B,0,12,0,75,87.0,Aeroflot
...,...,...,...,...,...,...,...,...,...
2068,EZ-A103,Turkmenistan Airlines,B717-22K,0,0,0,120,120.0,Turkmenistan Airlines
2069,EZ-A104,Turkmenistan Airlines,B717-22K,0,0,0,120,120.0,Turkmenistan Airlines
2070,EZ-A105,Turkmenistan Airlines,B717-22K,0,0,0,120,120.0,Turkmenistan Airlines
2071,EZ-A106,Turkmenistan Airlines,B717-22K,0,0,0,120,120.0,Turkmenistan Airlines
2072,EZ-A107,Turkmenistan Airlines,B717-22K,0,0,0,120,120.0,Turkmenistan Airlines

In [93]:
# 총정원이 1에서 120인 행의 갯수 총합
airplane['총정원'].between(1,120).sum()

235

In [94]:
import numpy as np

In [95]:
airplane['category_R'] = ""

In [97]:
mask

0       False
1       False
2       False
3       False
4       False
        ...
2173    False
2174    False
2175    False
2176    False
2177    False
Name: 총정원, Length: 2178, dtype: bool

In [98]:
# mask 모든 데이터에 조건이 참이면 소형 거짓이면 중형으로 치환한 배열을 반환
np.where(mask, '소형', '중형')

array(['중형', '중형', '중형', ..., '중형', '중형', '중형'], dtype='<U2')

In [96]:
airplane['category_R']  = pd.Categorical(np.where(mask, '소형', '중형'))

In [46]:
airplane.head()

     기체번호       항공사        기종  정원_F  정원_C  정원_W  정원_Y    총정원 category_R
0  VP-BDK  Aeroflot  A320-214     0    20     0   120  140.0         중형
1  VP-BWD  Aeroflot  A320-214     0    20     0   120  140.0         중형
2  VP-BWE  Aeroflot  A320-214     0    20     0   120  140.0         중형
3  VP-BWF  Aeroflot  A320-214     0    20     0   120  140.0         중형
4  VP-BRZ  Aeroflot  A320-214     0    20     0   120  140.0         중형

In [47]:
airplane['category_R'].value_counts()

중형    1943
소형     235
Name: category_R, dtype: int64

In [48]:
airplane['category_R'].dtype

CategoricalDtype(categories=['소형', '중형'], ordered=False)

In [50]:
np.zeros(10000*10000)

array([0., 0., 0., ..., 0., 0., 0.])