# 지예 & 종민 데이터분석 (책)

In [2]:
import pandas as pd

In [37]:
book_data = pd.read_csv("../data/book_data.csv",encoding='euc-kr')

In [38]:
book_data

,book_name,book_writer,book_date,book_price,book_cover,book_page,book_size,book_weight,book_category,book_publisher,sales_point
0,올 더 빌딩스 인 런던,제임스 걸리버 핸콕,2018-08-25,"14,400",양장본,140,225*280mm,476,예술/대중문화,책발전소,110
1,렛 잇 블리드,이언 랜킨,2018-08-19,"13,320",반양장본,476,128*188mm,476,소설/시/희곡,오픈하우스,110
2,은유로 사회 읽기,대니얼 리그니,2018-08-20,"39,500",양장본,416,152*223mm,749,사회과학,한울(한울아카데미),10
3,유럽 맥주 여행,백경학,2018-08-24,"14,400",반양장본,308,150*220mm,400,역사,글항아리,10
4,"이게, 행복이 아니면 무엇이지",김혜령,2018-08-20,"13,050",NaN,288,135*200mm,374,인문학,웨일북,10
...,...,...,...,...,...,...,...,...,...,...,...
1995,여기는 함께섬 정치를 배웁니다,최승필,2018-06-01,"10,800",반양장본,136,175*240mm,258,어린이,천개의바람,770
1996,"아빠, 이런 여행 어때?",김동옥,2018-05-30,"13,500",반양장본,344,130*188mm,453,여행,씽크스마트,"2,555"
1997,생각의 힘,이나모리 가즈오,2018-06-15,"12,600",양장본,192,128*188mm,327,자기계발,한국경제신문,"1,305"
1998,양자 역학이란 무엇인가,마이클 워커,2018-06-04,"19,800",반양장본,488,152*224mm,730,과학,처음북스(구 빅슨북스),915
1999,지옥사원 2,네온비,2018-05-30,"10,800",반양장본,260,148*210mm,423,만화,위즈덤하우스,705

In [39]:
book_data.columns

Index(['book_name', 'book_writer', 'book_date', 'book_price', 'book_cover',
       'book_page', 'book_size', 'book_weight', 'book_category',
       'book_publisher', 'sales_point'],
      dtype='object')

In [40]:
best_saler=book_data[['book_name','book_publisher', 'sales_point']]

In [41]:
best_saler

             book_name book_publisher sales_point
0         올 더 빌딩스 인 런던           책발전소         110
1              렛 잇 블리드          오픈하우스         110
2            은유로 사회 읽기     한울(한울아카데미)          10
3             유럽 맥주 여행           글항아리          10
4     이게, 행복이 아니면 무엇이지            웨일북          10
...                ...            ...         ...
1995  여기는 함께섬 정치를 배웁니다          천개의바람         770
1996     아빠, 이런 여행 어때?          씽크스마트       2,555
1997             생각의 힘         한국경제신문       1,305
1998      양자 역학이란 무엇인가   처음북스(구 빅슨북스)         915
1999            지옥사원 2         위즈덤하우스         705

[2000 rows x 3 columns]

In [42]:
best_saler['sales_point_분석용']=best_saler['sales_point']

C:\Users\TJ\AppData\Local\Temp\ipykernel_21468\3697977899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  best_saler['sales_point_분석용']=best_saler['sales_point']

In [13]:
best_saler

             book_name book_publisher sales_point sales_point_분석용
0         올 더 빌딩스 인 런던           책발전소         110             110
1              렛 잇 블리드          오픈하우스         110             110
2            은유로 사회 읽기     한울(한울아카데미)          10              10
3             유럽 맥주 여행           글항아리          10              10
4     이게, 행복이 아니면 무엇이지            웨일북          10              10
...                ...            ...         ...             ...
1995  여기는 함께섬 정치를 배웁니다          천개의바람         770             770
1996     아빠, 이런 여행 어때?          씽크스마트       2,555           2,555
1997             생각의 힘         한국경제신문       1,305           1,305
1998      양자 역학이란 무엇인가   처음북스(구 빅슨북스)         915             915
1999            지옥사원 2         위즈덤하우스         705             705

[2000 rows x 4 columns]

In [35]:
best_saler['sales_point_분석용'] =best_saler.loc[:,'sales_point_분석용'].str.replace(',','').astype('int64')
#best_saler['sales_point_분석용'] = best_saler.loc['sales_point_분석용'].str.replace(',','')
#best_saler
#best_saler.astype({'sales_point_분석용':'int'})

AttributeError: Can only use .str accessor with string values!

In [33]:
best_saler

             book_name book_publisher sales_point  sales_point_분석용
0         올 더 빌딩스 인 런던           책발전소         110              110
1              렛 잇 블리드          오픈하우스         110              110
2            은유로 사회 읽기     한울(한울아카데미)          10               10
3             유럽 맥주 여행           글항아리          10               10
4     이게, 행복이 아니면 무엇이지            웨일북          10               10
...                ...            ...         ...              ...
1995  여기는 함께섬 정치를 배웁니다          천개의바람         770              770
1996     아빠, 이런 여행 어때?          씽크스마트       2,555             2555
1997             생각의 힘         한국경제신문       1,305             1305
1998      양자 역학이란 무엇인가   처음북스(구 빅슨북스)         915              915
1999            지옥사원 2         위즈덤하우스         705              705

[2000 rows x 4 columns]

In [72]:
best_saler.dtypes

book_name         object
book_publisher    object
sales_point       object
dtype: object

In [81]:
best_saler.astype({'sales_point':'int'})

ValueError: invalid literal for int() with base 10: '2,810'