In [27]:
import pandas as pd

In [28]:
import numpy as np

## 파이썬 datetime 모듈 알아보기

In [29]:
import datetime

### datetime.date 함수

In [30]:
date = datetime.date(2018,9,29)

In [31]:
date

datetime.date(2018, 9, 29)

In [32]:
date.year, date.month, date.day

(2018, 9, 29)

#### 요일 확인

In [33]:
day = datetime.date(2022, 12, 9)
day

datetime.date(2022, 12, 9)

In [34]:
# weekday
# 0은 월요일을 의미하며 순서대로 1은 화요일, 2는 수요일, …, 6은 일요일
day.weekday()

4

In [35]:
# soweekday()
# 월요일은 1, 화요일은 2, …, 일요일은 7을 리턴

In [36]:
day.isoweekday()

5

### datetime.time 함수

In [37]:
# datetime.time (시, 분, 초, microsecond)
time = datetime.time(12,59,40,463198)

In [38]:
time

datetime.time(12, 59, 40, 463198)

In [39]:
time.hour, time.minute, time.second, time.microsecond

(12, 59, 40, 463198)

In [40]:
### datetime.datetime(년,월,일,시,분,초, microsecond)

In [41]:
dt = datetime.datetime(2018,9,29,12,30,19,463198)

In [42]:
dt

datetime.datetime(2018, 9, 29, 12, 30, 19, 463198)

In [43]:
# timedelta 시간 간격을 나타내는 객체
# 입력은 week, days, hours, minutes, seconds, milliseconds, microseconds 단위로 입력 가능
# 저장된 형태는 days, seconds, microseconds 형태로 저장

In [44]:
td = datetime.timedelta(weeks=2, days=5, 
                        hours=10, minutes=20, 
                        seconds=6.73, 
                        milliseconds=99, 
                        microseconds=8)

In [45]:
td

datetime.timedelta(days=19, seconds=37206, microseconds=829008)

In [46]:
td.days, td.seconds, td.microseconds, td.total_seconds()

(19, 37206, 829008, 1678806.829008)

In [47]:
# date와 timedelta 간의 연산이 가능하다.

In [48]:
date + td

datetime.date(2018, 10, 18)

In [49]:
# datetime과 timedelta 간의 연산이 가능하다.

In [50]:
dt + td

datetime.datetime(2018, 10, 18, 22, 50, 26, 292206)

In [51]:
dt - td

datetime.datetime(2018, 9, 10, 2, 10, 12, 634190)

### time 모듈

time.time()은 UTC(Universal Time Coordinated 협정 세계 표준시)를 사용하여 현재 시간을 실수 형태로 리턴하는 함수이다. 
1970년 1월 1일 0시 0분 0초를 기준으로 지난 시간을 초 단위로 돌려준다.

In [52]:
import time
time.time()

1670403925.60337

#### time.localtime

time.localtime은 time.time()이 리턴한 실수 값을 사용해서 연도, 월, 일, 시, 분, 초, ... 의 형태로 바꾸어 주는 함수

In [53]:
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=12, tm_mday=7, tm_hour=18, tm_min=5, tm_sec=25, tm_wday=2, tm_yday=341, tm_isdst=0)

#### time.asctime

위 time.localtime에 의해서 반환된 튜플 형태의 값을 인수로 받아서 날짜와 시간을 알아보기 쉬운 형태로 리턴하는 함수

In [54]:
time.asctime(time.localtime(time.time()))

'Wed Dec  7 18:05:25 2022'

#### time.ctime

time.asctime(time.localtime(time.time()))은 time.ctime()을 사용해 간편하게 표시

In [55]:
time.ctime()

'Wed Dec  7 18:05:25 2022'

#### time.strftime

strftime 함수는 시간에 관계된 것을 세밀하게 표현하는 여러 가지 포맷 코드를 제공

<table>
<thead>
<tr>
<th>포맷코드</th>
<th>설명</th>
<th>예</th>
</tr>
</thead>
<tbody>
<tr>
<td>%a</td>
<td>요일 줄임말</td>
<td>Mon</td>
</tr>
<tr>
<td>%A</td>
<td>요일</td>
<td>Monday</td>
</tr>
<tr>
<td>%b</td>
<td>달 줄임말</td>
<td>Jan</td>
</tr>
<tr>
<td>%B</td>
<td>달</td>
<td>January</td>
</tr>
<tr>
<td>%c</td>
<td>날짜와 시간을 출력함</td>
<td>06/01/01 17:22:21</td>
</tr>
<tr>
<td>%d</td>
<td>날(day)</td>
<td>[01,31]</td>
</tr>
<tr>
<td>%H</td>
<td>시간(hour)-24시간 출력 형태</td>
<td>[00,23]</td>
</tr>
<tr>
<td>%I</td>
<td>시간(hour)-12시간 출력 형태</td>
<td>[01,12]</td>
</tr>
<tr>
<td>%j</td>
<td>1년 중 누적 날짜</td>
<td>[001,366]</td>
</tr>
<tr>
<td>%m</td>
<td>달</td>
<td>[01,12]</td>
</tr>
<tr>
<td>%M</td>
<td>분</td>
<td>[01,59]</td>
</tr>
<tr>
<td>%p</td>
<td>AM or PM</td>
<td>AM</td>
</tr>
<tr>
<td>%S</td>
<td>초</td>
<td>[00,59]</td>
</tr>
<tr>
<td>%U</td>
<td>1년 중 누적 주-일요일을 시작으로</td>
<td>[00,53]</td>
</tr>
<tr>
<td>%w</td>
<td>숫자로 된 요일</td>
<td>[0(일요일),6]</td>
</tr>
<tr>
<td>%W</td>
<td>1년 중 누적 주-월요일을 시작으로</td>
<td>[00,53]</td>
</tr>
<tr>
<td>%x</td>
<td>현재 설정된 로케일에 기반한 날짜 출력</td>
<td>06/01/01</td>
</tr>
<tr>
<td>%X</td>
<td>현재 설정된 로케일에 기반한 시간 출력</td>
<td>17:22:21</td>
</tr>
<tr>
<td>%Y</td>
<td>년도 출력</td>
<td>2001</td>
</tr>
<tr>
<td>%Z</td>
<td>시간대 출력</td>
<td>대한민국 표준시</td>
</tr>
<tr>
<td>%%</td>
<td>문자</td>
<td>%</td>
</tr>
<tr>
<td>%y</td>
<td>세기부분을 제외한 년도 출력</td>
<td>01</td>
</tr>
</tbody>
</table>

In [56]:
time.strftime('%x', time.localtime(time.time()))

'12/07/22'

In [57]:
time.strftime('%Y-%m-%d',time.localtime(time.time()))

'2022-12-07'

## 판다스의 Timestamp 처리알아보기

      유닉스 탄생 시각인 1970년 1월 1일부터 시각을 나노초로 전달
      
      
   
        Timestamp  : to_datetime, Timestamp
                Represents a single timestamp	
        DatetimeIndex	: to_datetime, date_range, bdate_range, DatetimeIndex
                 Index of Timestamp	
        Period	 :  Period
                Represents a single time span	
        PeriodIndex	: period_range, PeriodIndex
                 Index of Period

In [58]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [59]:
a = pd.Timestamp(0)

In [60]:
s = pd.Series(a)

In [61]:
s

0   1970-01-01
dtype: datetime64[ns]

In [62]:
s[0]

Timestamp('1970-01-01 00:00:00')

In [63]:
pd.Timestamp(year=2017, month=1, day=1, hour=12,
            minute=30, second=10, microsecond=10)

Timestamp('2017-01-01 12:30:10.000010')

## 예제 10-9 판다스의 to_datetime 처리알아보기

In [64]:
pd.to_datetime('2018-09-29')

Timestamp('2018-09-29 00:00:00')

In [65]:
pd.to_datetime('2018-29-09', dayfirst=True)

Timestamp('2018-09-29 00:00:00')

In [66]:
pd.to_datetime('29-09-2018', dayfirst=True)

Timestamp('2018-09-29 00:00:00')

In [67]:
pd.to_datetime(271, unit='D', origin='2018-01-01')

Timestamp('2018-09-29 00:00:00')

In [68]:
s = pd.Series([10,100,100,1000,10000])

In [69]:
pd.to_datetime(s,unit='D')

0   1970-01-11
1   1970-04-11
2   1970-04-11
3   1972-09-27
4   1997-05-19
dtype: datetime64[ns]

In [70]:
df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})

In [71]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [83]:
s1 = pd.Series(['09-05-2018', '09/05/2018', '2018-09-01','40/23/2018'])

In [84]:
s1

0    09-05-2018
1    09/05/2018
2    2018-09-01
3    40/23/2018
dtype: object

In [88]:
try :
    for index, date_candidate in enumerate(s1):
        print(f'{index} to_datetime 시도')
        pd.to_datetime(date_candidate)
except Exception as e :
    print(e)

0 to_datetime 시도
1 to_datetime 시도
2 to_datetime 시도
3 to_datetime 시도
Invalid date specified (40/23)

In [32]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

In [33]:
pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')

NaT

In [100]:
s2 = pd.to_datetime(s1,dayfirst=True, errors='coerce')

In [101]:
s2

0   2018-05-09
1   2018-05-09
2   2018-09-01
3          NaT
dtype: datetime64[ns]

In [102]:
s2.isnull().sum()

1

### 데이터 포맷팅 처리

In [36]:
pd.to_datetime('2010/11/12', format='%Y/%m/%d')

Timestamp('2010-11-12 00:00:00')

In [112]:
pd.to_datetime('12-11-2010 01:30:50', format='%d-%m-%Y %H:%M:%S')

Timestamp('2010-11-12 01:30:50')

In [104]:
s3 = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

In [105]:
s3.head()

0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

#### infer_datetime_format

    True 및 형식이 지정되지 않은 경우 datetime 문자열의 형식을 유추하여 유추 할 수있는 경우 빠른 구문 분석 방법으로 전환하십시오.
    경우에 따라 파싱 속도를 ~ 5-10x 높일 수 있습니다.

In [106]:
%timeit pd.to_datetime(s3,infer_datetime_format=True)

10.2 ms ± 1.29 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [107]:
sdt = pd.to_datetime(s3,infer_datetime_format=True)

In [108]:
sdt.head()

0   2000-03-11
1   2000-03-12
2   2000-03-13
3   2000-03-11
4   2000-03-12
dtype: datetime64[ns]

In [109]:
%timeit pd.to_datetime(s3,infer_datetime_format=False)

343 ms ± 45.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [110]:
sdt2 = pd.to_datetime(s3,infer_datetime_format=False)

In [111]:
sdt2.head()

0   2000-03-11
1   2000-03-12
2   2000-03-13
3   2000-03-11
4   2000-03-12
dtype: datetime64[ns]

## 예제 10-9 판다스의 Period 처리 알아보기

In [46]:
pd.Period('2014', freq='A-MAY')

Period('2014', 'A-MAY')

In [47]:
pd.Period('06/11/2014')

Period('2014-06-11', 'D')

In [48]:
pd.Period('11/11/1918 11:00',freq='H')

Period('1918-11-11 11:00', 'H')

In [49]:
pd.Period('06/30/2014') + 4

Period('2014-07-04', 'D')

In [50]:
 pd.Period('11/11/1918 11:00',freq='H') - 48

Period('1918-11-09 11:00', 'H')

In [51]:
pd.Period('2014-04', freq='M') - pd.Period('2013-02', freq='M')

14